//-------------------------------------------------------------------------------
  @name: Mining Overview
  -------------------------------------------------------------------------------//

-
  data = {
    label: 'OVERVIEW',
    title: 'Empowering Indonesia Energy Security',
    desc: "<p>PT Sele Raya Mining is a strategic subsidiary of the Sele Raya Group, established to play a pivotal role in Indonesia’s energy sector. Our primary mission is to provide high-quality coal to support the nation's growing electrical energy demands. We specialize in ensuring a consistent supply, maintaining rigorous quality standards, and providing robust financing solutions for coal distribution across various energy industries in Indonesia.</p>",
    img: 'assets/img/dummy/mining-overview.jpg',
  };

include ../../../components/Businesses/BusinessesOverview/html.pug
