//-------------------------------------------------------------------------------
  @name: Energy Overview
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Strategic Alliances for Greater Energy Reach',
    desc1: '<p>We believe in the power of collaboration to drive operational excellence. Currently, PT Sele Raya Mining is engaged in a major Coal Marketing & Offtake partnership with PT Sugico Graha, the official Mining Business License (IUP) holder in </p>',
    desc2: '<p>This partnership strengthens our position in the market and ensures a reliable flow of resources from one of Indonesia’s most productive mining regions.</p>',
    list: [
      {
        img: 'assets/img/dummy/map-pin-primary.svg',
        title: 'Location',
        desc: 'Muara Enim Regency',
      },
      {
        img: 'assets/img/dummy/globe-hemisphere-east-primary.svg',
        title: 'Region',
        desc: 'South Sumatra Province',
      },
    ],
  };

include ../../../components/Businesses/BusinessesKey/html.pug
