//-------------------------------------------------------------------------------
  @name: Mining Banner
  -------------------------------------------------------------------------------//

-
  data = [{
      image: 'assets/img/dummy/businesses-banner-mining.jpg',
      label: 'Sele Raya Mining',
      title: 'Sustainable Energy, Guaranteed Quality.',
      description: 'Strategically operating in Muara Enim, South Sumatra, to deliver consistent, high-caloric coal for Indonesia’s electrical energy needs.',
    }];

include ../../../components/HeroBanner/html.pug
