//-------------------------------------------------------------------------------
  @name: Agri Overview
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'executive',
    title: 'Executive Overview',
    desc: '<p>PT Sele Raya Agri operates under the official industrial plantation forest permit (IUPHHK-HTI) granted by the Minister of Forestry (SK. 736/Menhut-II/2014). Spanning 18,980 hectares across Muna and West Muna Regency, our project is located in a region world-renowned for its teak-growing heritage.</p><p><strong>Our site offers the "Golden Standard" for teak cultivation:</strong></p>',
    img: 'assets/img/dummy/agri-overview.jpg',
    list: [
      {
        img: 'assets/img/dummy/leaf-primary.svg',
        label: 'Fertile Soil',
        desc: '<p>Nutrient-rich land optimized for timber density.</p>',
      },
      {
        img: 'assets/img/dummy/cloud-sun-primary.svg',
        label: 'Perfect Climate',
        desc: '<p>Consistent rainfall and an average temperature of 28°C (84.2°F).</p>',
      },
      {
        img: 'assets/img/dummy/handshake-primary.svg',
        label: 'Social Harmony',
        desc: '<p>A long-standing history of teak cultivation that is deeply respected and supported by the local community.</p>',
      },
    ],
  };

include ../../../components/Businesses/BusinessesOverview/html.pug
