//-------------------------------------------------------------------------------
  @name: Agri Overview
  -------------------------------------------------------------------------------//

-
  data = [
    {
      img: 'assets/img/dummy/vision.svg',
      title: 'Vision',
      desc: 'To be the global pioneer in sustainable forestry by establishing the largest premium teak plantation in the world, set in the heart of Muna, Southeast Sulawesi, Indonesia.',
    },
    {
      img: 'assets/img/dummy/target.svg',
      title: 'Mission',
      desc: 'To develop a world-class social forest management program that integrates local communities, restores the environment, and delivers premium timber through sustainable innovation.',
    },
  ];

include ../../../components/Businesses/BusinessesVisionMission/html.pug
