//-------------------------------------------------------------------------------
  @name: belida why
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Why Choose PT Sele Raya Agri?',
    list: [
      {
        img: '/assets/img/dummy/map-trifold.svg',
        title: 'Scale',
        desc: 'Access to one of the largest teak reserves in the region.'
      },
      {
        img: '/assets/img/dummy/rocket.svg',
        title: 'Speed',
        desc: 'A 10-year rotation period that ensures a faster return on investment and supply.'
      },
      {
        img: '/assets/img/dummy/globe-hemisphere-east.svg',
        title: 'Sustainability',
        desc: 'Fully integrated social and regenerative programs that meet global ESG standards.'
      }
    ]
  };

include ../../../components/Businesses/BusinessesWhy/html.pug
