//-------------------------------------------------------------------------------
  @name: Agri Resource
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Strategic Objectives',
    desc: '<p>We are building a business model where profitability and planetary health go hand-in hand. Our primary goals include</p>',
    list: [
      {
        icon: 'assets/img/dummy/tree-palm-primary.svg',
        img: 'assets/img/dummy/agri-resource-1.jpg',
        label: 'Sustainable Growth',
        desc: 'Achieving long-term profitability through scale and efficiency.'
      },
      {
        icon: 'assets/img/dummy/medal-primary.svg',
        img: 'assets/img/dummy/agri-resource-2.jpg',
        label: 'Premium Certification',
        desc: 'Securing FSC (Forest Stewardship Council) certification to meet international standards.'
      },
      {
        icon: 'assets/img/dummy/tree-primary.svg',
        img: 'assets/img/dummy/agri-resource-3.jpg',
        label: 'Large-Scale Reforestation',
        desc: 'Establishing a 10,000 hectare teak plantation alongside a regenerative agroforestry system.'
      }
    ]
  };

include ../../../components/Businesses/BusinessesResource/html.pug
