//-------------------------------------------------------------------------------
  @name: Agri Overview
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'commitment',
    title: 'Our Commitment Community & Environment',
    subtitle: 'At PT Sele Raya Agri, we believe a forest is only as strong as the community that guards it. We bridge the gap between environmental conservation and economic prosperity through partnership with nature and humanity.',
    desc: '<h4>Regenerative Agroforestry</h4><p>We don\'t just plant trees; we build food systems. Through our social forestry program, we empower local farmers to utilize the land between teak rows to grow:</p><ul><li>Corn</li><li>Soybeans</li><li>Peanuts</li></ul><p>By teaching best practices in sustainable farming, we increase local food security and provide immediate income for families while the teak matures.</p><h4>Global Responsibility</h4><p>As we pursue the FSC International Certification, we guarantee our global partners that our products are ethically sourced, environmentally sound, and socially beneficial. We are not just selling wood; we are providing a sustainable solution for a high-demand global market.</p>',
    img: 'assets/img/dummy/agri-overview-commitment.jpg',
  };

include ../../../components/Businesses/BusinessesOverview/html.pug
