//-------------------------------------------------------------------------------
  @name: Agri Overview
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Our Operations Innovation & Efficiency',
    desc: '<p>PT Sele Raya Agri operates under the official industrial plantation forest permit (IUPHHK-HTI) granted by the Minister of Forestry (SK. 736/Menhut-II/2014). Spanning 18,980 hectares across Muna and West Muna Regency, our project is located in a region world-renowned for its teak-growing heritage.</p>',
    img: 'assets/img/dummy/agri-overview-operation.jpg',
    list: [
      {
        img: 'assets/img/dummy/hourglass-high.svg',
        title: 'Innovation & Efficiency',
        desc: 'We have redefined traditional teak farming by combining nature\'s strengths with modern silviculture techniques. While traditional teak takes over 30 years to mature, our accelerated growth methodology using high-quality vegetative seedlings and intensive cultivation reduces the harvest cycle to just 10 years.',
      },
      {
        img: 'assets/img/dummy/green-house.svg',
        title: 'In House Nursery',
        desc: 'Every tree begins its life in our own specialized nursery, ensuring 100% quality control from seed to timber.',
      },
      {
        img: 'assets/img/dummy/flower-tulip.svg',
        title: 'Beyond Timber',
        desc: 'We maximize land value by promoting Non-Timber Forest Products (NTFP), including organic honey and natural fabric dyes, creating a diverse and resilient ecosystem.',
      },
    ],
  };

include ../../../components/Businesses/BusinessesValue/html.pug
