/* ==========================================================================
   Sejati Number Styles
   ========================================================================== */

.sejati-num {
  $ep: &;
  position: relative;
  overflow: hidden;
  background-color: color(primary, 1);
  padding: 96px 0 104px;
  @include medium {
    padding: 64px 0 72px;
  }
  @include small {
    padding: 40px 0 48px;
  }
  &__inner {
    max-width: 828px;
    margin: 0 auto;
  }
  &__head {
    text-align: center;
    margin-bottom: 56px;
    @include fade-in-loaded;
    @include content-transition;
    @include medium {
      margin-bottom: 48px;
    }
    @include medium {
      margin-bottom: 40px;
    }
    @include small {
      margin-bottom: 32px;
    }
  }
  &__title {
    @include font-size(h2);
    font-weight: fw(semibold);
    color: color(neutral, 9);
    @include medium {
      @include font-size(h3);
    }
    @include small {
      @include font-size(h4);
      margin-bottom: 12px;
    }
  }
  &__desc {
    @include font-size(h6);
    color: color(neutral, 7);
    margin-bottom: 0;
    @include small {
      @include font-size(body);
    }
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    margin-right: -32px;
    justify-content: center;
    @include fade-in-loaded;
    @include content-transition;
    @include medium {
      margin: 0;
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 0 32px;
    @include medium {
      padding: 0;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__number {
    @include font-size(number1);
    font-weight: fw(semibold);
    color: color(primary, 5);
    margin-bottom: 0;
    @include medium {
      @include font-size(number2);
    }
  }
  &__info {
    margin-left: 16px;
  }
  &__type {
    @include font-size(h6);
    color: color(primary, 5);
    margin-bottom: 0;
  }
  &__detail {
    @include font-size(body);
    color: color(neutral, 8);
    margin-bottom: 0;
  }
}
