//-------------------------------------------------------------------------------
  @name: About Beyon Energy
  -------------------------------------------------------------------------------//

//About Beyond Energy
.about-be
  .container
    .about-be__inner
      .about-be__left
        .about-be__left-inner
          h2.about-be__title
            | !{data.title}
          .about-be__desc
            | !{data.desc}
      .about-be__right
        .about-be__right-grid
          each item in data.items
            .about-be__item
              .about-be__item-brand
                ='\n'
                img.about-be__item-brand-el(src='assets/img/logo/'+item.icon alt=item.title)/
              p.about-be__item-desc
                  | !{item.desc}

='\n'
