/* ==========================================================================
   Businesses Commitment Styles
   ========================================================================== */

.businesses-commit {
  $bc: &;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(color(neutral, 9), 0.4);
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__el {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__text {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 640px;
    max-width: 648px;
    padding: 130px 0;
    margin: 0 auto;
    color: color(neutral, 50);
    @include fade-in-loaded;
    @include content-transition;
    @include small {
      min-height: 560px;
    }
  }
  &__title {
    @include font-size(h2);
    font-weight: fw(bold);
    margin-bottom: 24px;
    @include medium {
      @include font-size(h3);
    }
    @include small {
      @include font-size(h4);
      margin-bottom: 16px;
    }
  }
  &__desc {
    p {
      @include font-size(h5);
      @include medium {
        @include font-size(h6);
      }
      @include small {
        @include font-size(body);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &--investidea-ventures {
    &::before {
      background-color: transparent;
      background: color(gradient, 2);
    }
    #{$bc} {
      &__text {
        text-align: left;
        margin: 0;
        max-width: 480px;
        align-items: flex-start;
        @include small {
          min-height: 600px;
          max-width: initial;
          justify-content: flex-end;
          padding-bottom: 40px;
        }
      }
      &__title {
        color: color(primary, 5);
        margin-bottom: 32px;
        @include small {
          margin-bottom: 24px;
        }
      }
      &__desc {
        p {
          @include font-size(h6);
          color: color(neutral, 7);
          margin-bottom: 12px;
          @include small {
            @include font-size(body);
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
