//-------------------------------------------------------------------------------
 @name: Awards Card Modal
//-------------------------------------------------------------------------------

.awards-card-modal.js-awards-card-modal
  .awards-card-modal__overlay.js-awards-modal-close
  .awards-card-modal__wrapp
    .awards-card-modal__inner
      button.awards-card-modal__close.js-awards-modal-close(type='button' aria-label='Close award detail')
        ='\n'
        i.sr.sr-close
      .awards-card-modal__body
        h3.awards-card-modal__title.js-awards-modal-title
        .awards-card-modal__image
          ='\n'
          img.awards-card-modal__image-el.js-awards-modal-image(src='' alt='')/
        .awards-card-modal__desc.js-awards-modal-desc
