/* ==========================================================================
   News List
   ========================================================================== */

.news-list {
  padding-bottom: 104px;
  @include medium {
    padding-bottom: 80px;
  }
  @include x-small {
    padding-bottom: 56px;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    @include medium {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    @include content-transition;
    @include fade-in-loaded;
    @include font-size(h4);
    font-weight: fw(semibold);
    color: color(primary, 5);
    margin: 0;
    @include medium {
      margin-bottom: 16px;
    }
    @include x-small {
      margin-bottom: 8px;
    }
  }
  &-filter {
    @include medium {
      width: 100%;
    }
    & .filter {
      margin-bottom: 0;
      align-items: center;
      justify-content: flex-start;
      @include x-small {
        overflow: hidden;
      }
    }
    & .filter__row:not(:first-child) {
      width: 200px;
      margin-left: 12px;
      display: inline-flex;
      align-items: center;
      border: 1px solid color(black, 2);
      background-color: color(neutral, 1);
      border-radius: 8px;
      padding: 9px 12px;
      position: relative;
      @include x-small {
        width: 124px;
        margin-left: 8px;
        padding: 11px 10px;
      }
      .form-control {
        width: 100%;
        position: static;
      }
    }
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    & .news-item {
      width: 33.3333333%;
      padding: 12px;
      @include medium {
        width: 50%;
      }
       @include x-small {
        width: 100%;
      }
    }
  }
}
