//-------------------------------------------------------------------------------
  @name: News List
  -------------------------------------------------------------------------------//

//news-list
.news-list
  - newsListData = data || {};
  .container
    .news-list__head
      h4.news-list__title All News
      .news-list-filter
        - data = newsListData.filter || [];
          include ../../_Elements/Filter/html.pug
    .news-list__body
      each item in (newsListData.list || [])
        include ../NewsItem/html.pug
    include ../../_Elements/Pagination/html.pug
