//-------------------------------------------------------------------------------
  @name: Pagination
  -------------------------------------------------------------------------------//

-
  data = [
    {
      modifier: 'pagination__item--active',
      text: '1'
    },
    {
      text: '2'
    },
    {
      text: '3'
    },
    {
      text: '...'
    },
    {
      text: '10'
    },
    {
      modifier: 'pagination__item--previous pagination__item--disabled',
      icon: 'caret-left'
    },
    {
      modifier: 'pagination__item--next',
      icon: 'caret-right'
    },
  ]

='\n\n'
//.pagination
.pagination
  - pageItems = data.filter((item) => !item.icon)
  - navItems = data.filter((item) => item.icon)
  .pagination__inner
    ul.pagination__list
      each val in pageItems
        li.pagination__item(class=val.modifier ? val.modifier : '')
          ='\n'
          a.pagination__link(href='#')
            ='\n'
            if val.icon
              i(class='sr sr-'+val.icon)
            if val.text
              span= val.text
    ul.pagination__nav
      each val in navItems
        li.pagination__item(class=val.modifier ? val.modifier : '')
          ='\n'
          a.pagination__link(href='#')
            ='\n'
            if val.icon
              i(class='sr sr-'+val.icon)
            if val.text
              span= val.text
