/* ==========================================================================
   Not Found Section
   ========================================================================== */

.not-found {
  &__inner {
    @include content-transition;
    @include fade-in-loaded;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 221px 0 277px;
    @include medium {
      padding: 160px 0 200px;
    }
    @include x-small {
      padding: 95px 0 160px;
    }
  }
  &__text {
    margin-bottom: 48px;
  }
  &__title {
    font-size: 160px;
    line-height: 228px;
    letter-spacing: 0;
    margin: 0;
    color: color(primary, 5);
    font-weight: fw(regular);
    @include medium {
      font-size: 140px;
      line-height: 216px;
    }

    @include x-small {
      font-size: 136px;
      line-height: 204px;
    }
  }
  &__desc {
    @include font-size(h3);
    color: color(neutral, 8);
    font-weight: fw(regular);
    margin-bottom: 0;
    margin-top: -32px;
    @include x-small {
      @include font-size(h4);
    }
  }
}
