
-
  data = {
    imgDekstop: "about-us-section-dekstop.png",
    imgMobile: "about-us-section-mobile.png",
    subtitle: "ABOUT",
    title: "Over 50 Years of Excellence in Optimizing Indonesia’s Potential",
    desc: "Founded in 1974, Sele Raya Group has grown into a diversified multi-sector conglomerate, delivering sustainable energy, resources, and industrial solutions that drive national growth and long-term value.",
    stats: [
      { num: "1974",  label: "FOUNDED" },
      { num: "9",  label: "SUBSIDIARIES" },
      { num: "1.500",  label: "TEAM MEMBERS" }
    ]
  };

include ../../components/AboutUs/AboutUsSection/html.pug
