
-
  data = {
    subtitle: 'AWARDS',
    title: 'Recognized for Excellence',
    btn: {
      text: 'View More',
      to: '#'
    },
    list: [
      {
        years: '2025',
        desc: 'Quickest Exploration to Production Milestone (SKKMIGAS)',
        img: 'awards.png'
      },
      {
        years: '2024',
        desc: 'Quickest Exploration to Production Milestone (SKKMIGAS)',
        img: 'about-us-section-mobile.png'
      },
      {
        years: '2023',
        desc: 'Quickest Exploration to Production Milestone (SKKMIGAS)',
        img: 'about-us.png'
      },
      {
        years: '2022',
        desc: 'Quickest Exploration to Production Milestone (SKKMIGAS)',
        img: 'businesses-4.png'
      }
    ]
  };

include ../../components/Awards/AwardsSection/html.pug
