
-
  data = {
    subtitle: 'BUSINESSES',
    title: 'Driving Growth Across Strategic Sectors',
    list: [
      {
        img: 'businesses-1.jpg',
        title: 'Sele Raya Belida',
        icon: 'fire.svg',
        desc: 'Operating the Belida Block in South Sumatra, delivering reliable gas and condensate production through disciplined field development and long-term production excellence.'
      },
      {
        img: 'businesses-2.png',
        title: 'Sele Raya Energy',
        icon: 'lightning.svg',
        desc: 'Holding participating interests in proven oil and gas assets, strengthening national energy security through strategic partnerships and sustainable resource management.'
      },
      {
        img: 'businesses-3.png',
        title: 'Sele Raya Sejati',
        icon: 'factory.svg',
        desc: 'Advancing upstream opportunities through collaborative PSC operations and integrated field development across Indonesia’s key hydrocarbon basins.'
      },
      {
        img: 'businesses-4.png',
        title: 'Sele Raya Mining',
        icon: 'boat.svg',
        desc: 'Pioneering sustainable mining operations with a focus on responsible resource extraction and community engagement in Indonesia’s mineral sector.'
      },
      {
        img: 'businesses-2.png',
        title: 'Sele Raya Energy',
        icon: 'lightning.svg',
        desc: 'Holding participating interests in proven oil and gas assets, strengthening national energy security through strategic partnerships and sustainable resource management.'
      },
      {
        img: 'businesses-3.png',
        title: 'Sele Raya Sejati',
        icon: 'factory.svg',
        desc: 'Advancing upstream opportunities through collaborative PSC operations and integrated field development across Indonesia’s key hydrocarbon basins.'
      },

    ]
  };

include ../../components/Businesses/BusinessesSection/html.pug
