
-
  data = {
    imgDekstop: "career-section-desktop.png",
    imgMobile: "career-section-mobile.png",
    subtitle: "CAREER",
    title: "Grow with Us",
    desc: "At Sele Raya Group, we believe our people are our greatest asset. Join a team that values innovation, integrity, and sustainable impact. Together, we're building a legacy that matters.",
    stats: [
      { icon: "chart.svg",  label: "Career Growth" },
      { icon: "heart.svg",  label: "Work Life Balance" },
      { icon: "user-circle.svg",  label: "Diverse Culture" }
    ]
  };

include ../../components/Career/CareerSection/html.pug
