//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      //- image: 'assets/img/dummy/home-hero-banner-1.png',
      video: 'assets/video/hero-banner.mp4',
      title: 'Driving Positive Change for a Better Future',
      description: 'We bridge the gap between technology and sustainability. Sele Raya Group funnels ideas and expertise into meaningful environmental development and social impact.',
      indicator: 'Our Core Philosophy'
    },
    {
      image: 'assets/img/dummy/home-hero-banner-2.jpg',
      title: 'Innovative Solutions for a Dynamic World',
      description: 'Empowering businesses with cutting-edge energy logistics and supply chain management services.',
      indicator: 'Sustainable Impact'
    },
    {
      image: 'assets/img/dummy/home-hero-banner-3.png',
      title: 'Your Partner in Energy Logistics',
      description: 'Providing end-to-end energy supply chain solutions tailored to your business needs.',
      indicator: 'Core Purpose'
    },
     {
      image: 'assets/img/dummy/home-hero-banner-2.jpg',
      title: 'Innovative Solutions for a Dynamic World',
      description: 'Empowering businesses with cutting-edge energy logistics and supply chain management services.',
      indicator: 'Sustainable Impact'
    },
  ];

include ../../components/HeroBanner/html.pug
