
-
  data = {
    subtitle: 'MILESTONES',
    title: 'Nearly Five Decades of Building Indonesia’s Energy Future',
    btn: {
      text: 'View More',
      to: '#'
    },
    list: [
      {
        years: '1972',
        title: 'Our </br> Founddation',
        desc: 'We began as an oilfield services company, supporting Indonesia’s oil and gas industry with reliable products and operational expertise. This foundation shaped our discipline, resilience, and long-term commitment to responsible energy development.',
        img: 'milestones-1.png'
      },
      {
        years: '1984',
        title: 'First </br> Production Milestone',
        desc: 'We achieved our first major production milestone, marking a significant step in our growth and establishing us as a trusted partner in the energy sector. This milestone was a testament to our dedication to operational excellence and our ability to deliver results.',
        img: 'milestones-2.png'
      },
      {
        years: '2014',
        title: 'Exploration Success',
        desc: 'We successfully explored and developed new oil and gas fields, expanding our portfolio and contributing to Indonesia’s energy security. This success was a result of our innovative approach to exploration and our commitment to sustainable development.',
        img: 'milestones-3.png'
      },
      {
        years: '2015',
        title: 'Diversification </br> into Renewable Energy',
        desc: 'Recognizing the global shift towards sustainable energy, we diversified our operations to include renewable energy projects. This strategic move allowed us to contribute to Indonesia’s energy transition and align our business with global sustainability goals.',
        img: 'milestones-2.png'
      },
      {
        years: '2025',
        title: 'Diversification </br> into Renewable Energy',
        desc: 'Recognizing the global shift towards sustainable energy, we diversified our operations to include renewable energy projects. This strategic move allowed us to contribute to Indonesia’s energy transition and align our business with global sustainability goals.',
        img: 'milestones-2.png'
      },
    ]
  };

include ../../components/Milestones/MilestonesSection/html.pug
