
-
  data = {
    subtitle: 'NEWS',
    title: 'Latest Insights',
    btn: {
      text: 'View More',
      to: '/news'
    },
    list: [
      {
        type: 'large',
        title: 'KKKS Sele Raya Belida Wins Optimum Production Award at SKK Migas Award 2024',
        date: '12 Sep 2025',
        tag: 'Award',
        img: 'news-1.png',
        link: '#'
      },
      {
        type: 'medium',
        title: 'PT Sele Raya Belida Successfully Produces 1,500 Barrels of Oil',
        date: '12 Sep 2025',
        tag: 'Production',
        img: 'news-4.png',
        link: '#'
      },
      {
        type: 'medium',
        title: 'SAS-2 Well Discovery Finds New Oil & Gas Reserves',
        date: '12 Sep 2025',
        tag: 'Discovery',
        img: 'news-5.png',
        link: '#'
      },
      {
        type: 'small',
        title: 'Sele Raya Belida Increases SAS-1 Well Production',
        date: '12 Sep 2025',
        tag: 'Production',
        img: 'news-2.png',
        link: '#'
      },
      {
        type: 'small',
        title: 'Government Appoints PT Medco Energi',
        date: '12 Sep 2025',
        tag: 'Partnership',
        img: 'news-3.png',
        link: '#'
      }
    ]
  }

include ../../components/News/NewsSection/html.pug
