//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

-
  data = [{
      image: 'assets/img/dummy/businesses-banner-ingredients.jpg',
      label: 'Sele Raya Ingredients',
      title: 'Redefining Ingredients, Perfecting Taste.',
      description: 'Transforming quality ingredients into sensory experiences you can see, smell, and taste.',
    }];

include ../../../components/HeroBanner/html.pug
