//-------------------------------------------------------------------------------
  @name: Breadcrumbs
  -------------------------------------------------------------------------------//

='\n\n'
//.Breadcrumbs
ul.breadcrumbs
  each val, index in breadcrumbs
    li.breadcrumbs__item
      if index != breadcrumbs.length - 1
        ='\n'
        a.breadcrumbs__link(href=val.link)= val.name
      else
        ='\n'
        span.breadcrumbs__current= val.name
