//-------------------------------------------------------------------------------
  @name: Modal Success
  -------------------------------------------------------------------------------//


='\n\n'
//.modal-success
.modal-success.js-modal-success
  .modal-success__content
    .modal-success__img
      ='\n'
      img.modal-success__img__el(src=dataModal.img, alt=dataModal.title)/
    h6.modal-success__title= dataModal.title
    p.modal-success__desc= dataModal.description
