//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      image: 'assets/img/dummy/businesses-banner-energy.jpg',
      label: 'Sele Raya Energy',
      title: 'Fueling the Future Strategic Gas Production in the East Java Basin.',
      description: 'With a proven track record in the Blora Block and the successful development of the Rembang Field, PT Sele Raya Energi delivers sustainable energy solutions through expertise and strategic partnerships.',
    }
  ];

include ../../../components/HeroBanner/html.pug
