//-------------------------------------------------------------------------------
  @name: energy why
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Why Energy Block?',
    list: [
      {
        img: '/assets/img/dummy/factory.svg',
        title: 'Active Production',
        desc: 'Currently operational, ensuring immediate contribution to the energy supply chain.'
      },
      {
        img: '/assets/img/dummy/flame.svg',
        title: 'Proven Reserves',
        desc: 'Home to the Rembang Field, featuring confirmed gas discoveries and a robust petroleum system.'
      },
      {
        img: '/assets/img/dummy/globe-hemisphere-east.svg',
        title: 'Strategic Location',
        desc: 'Situated in the East Java Basin with direct access to established infrastructure for efficient distribution.'
      },
      {
        img: '/assets/img/dummy/handshake.svg',
        title: 'Proven Synergy',
        desc: 'A solid partnership between TIS, BEB, and SRE that guarantees operational excellence.'
      }
    ]
  };

include ../../../components/Businesses/BusinessesWhy/html.pug
