//-------------------------------------------------------------------------------
  @name: belida core
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Asset Profile The Blora Block',
    subtitle: '<p>The Blora Block is a high-potential asset located in the Central-East Java region. Situated within the renowned East Java Basin, this onshore gas field offers a proven petroleum system and a strategic location adjacent to existing, productive oil and gas fields.</p>',
    img: 'assets/img/dummy/energy-value.jpg',
    list: [
      {
        title: 'Proven Discovery',
        desc: "The block features the Rembang Field, a confirmed gas discovery that underscores the area's high commercial value.",
        img: 'assets/img/dummy/target.svg'
      },
      {
        title: 'Strategic Operations',
        desc: 'The block is currently operated by TIS Petroleum E&P Blora Pte. Ltd., ensuring efficient production workflows.',
        img: 'assets/img/dummy/factory.svg'
      }
    ]
  };

include ../../../components/Businesses/BusinessesValue/html.pug
