//-------------------------------------------------------------------------------
  @name: Energy Overview
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Key Project Statistics',
    list: [
      {
        img: 'assets/img/dummy/map-trifold-primary.svg',
        title: 'Working Area',
        desc: 'Blora Block Onshore Gas Field',
      },
      {
        img: 'assets/img/dummy/info-primary.svg',
        title: 'Status',
        desc: 'Production Phase',
      },
      {
        img: 'assets/img/dummy/map-pin-primary.svg',
        title: 'Location',
        desc: 'Central Java Province',
      },
      {
        img: 'assets/img/dummy/frame-corners-primary.svg',
        title: 'Current Retained Area',
        desc: '1,002.67 sq.km (20% of initial area)',
      },
      {
        img: 'assets/img/dummy/mountains-primary.svg',
        title: 'Geological Setting',
        desc: 'East Java Basin (Proven Petroleum System)',
      }
    ],
  };

include ../../../components/Businesses/BusinessesKey/html.pug
