//-------------------------------------------------------------------------------
  @name: belida core
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Project History & Milestones',
    subtitle: '<p>Our journey with the Blora Block began with a rigorous technical foundation and a commitment to long-term energy production.</p>',
    img: 'assets/img/dummy/energy-about.jpg',
    list: [
      {
        title: 'Joint Study Phase',
        desc: 'Conducted an intensive joint study with Migas from October 2008 to January 2009',
        img: 'assets/img/dummy/file-text-primary.svg'
      },
      {
        title: 'Tender Award',
        desc: 'Successfully granted the "Direct Offer Tender" on July 30, 2009',
        img: 'assets/img/dummy/certificate-primary.svg'
      },
      {
        title: 'PSC Signing',
        desc: 'The Production Sharing Contract (PSC) was officially signed on November 30, 2009, with BPMIGAS',
        img: 'assets/img/dummy/folder-star-primary.svg'
      }
    ]
  };

include ../../../components/Businesses/BusinessesAbout/html.pug
