//-------------------------------------------------------------------------------
  @name: Aryasatya Resource
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Resource Potential & Asset Value',
    desc: '<p>The Amanah Block covers a vast concession area of 1,753.15 square kilometers on the South Sumatran mainland. Extensive geological assessments indicate substantial reserves that offer high commercial value</p>',
    list: [
      {
        img: 'assets/img/dummy/aryasatya-resource-1.jpg',
        label: 'Advanced Extraction',
        desc: 'Utilizing a specialized, Thai-manufactured suction vessel (KIP) to extract high-quality tin ore directly from the seabed.'
      },
      {
        img: 'assets/img/dummy/aryasatya-resource-2.jpg',
        label: 'High-Volume Output',
        desc: 'Our streamlined processes enable a robust production capacity, consistently exceeding 25 tonnes of tin ore per month.'
      },
      {
        img: 'assets/img/dummy/aryasatya-resource-3.jpg',
        label: 'Strategic Partnerships',
        desc: 'Operating within designated areas under PT Timah, we ensure full regulatory compliance and operational security.'
      }
    ]
  };

include ../../../components/Businesses/BusinessesResource/html.pug
