//-------------------------------------------------------------------------------
  @name: Aryasatya Commitment
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Our Commitment',
    desc: '<p>With a proven track record since 2012, PT Sele Raya Aryasatya continues to set the standard for responsible and productive offshore mining. We combine technical expertise with a deep respect for our local partners to power the future of Indonesia’s mining industry.</p>',
    img: 'assets/img/dummy/aryasatya-commitment.jpg',
  };

include ../../../components/Businesses/BusinessesCommitment/html.pug
