//-------------------------------------------------------------------------------
  @name: Aryasatya Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      image: 'assets/img/dummy/businesses-banner-aryasatya.jpg',
      label: 'Sele Raya Aryasatya',
      title: 'Pioneering Offshore Tin Mining Excellence',
      description: 'Part of the Sele Raya Group, PT Sele Raya Aryasatya combines advanced Thai-engineered technology with local expertise to drive sustainable offshore mining solutions.',
    }
  ];

include ../../../components/HeroBanner/html.pug
