//-------------------------------------------------------------------------------
  @name: Aryasatya Overview
  -------------------------------------------------------------------------------//

-
  data = {
    label: 'OVERVIEW',
    title: 'Precision Offshore Tin Mining & Operations',
    desc: '<p>PT Sele Raya Aryasatya is a premier offshore tin mining company developed by the Sele Raya Group. Established as a key player in the industry, we specialize in high-efficiency subsea mineral extraction.</p><p>Since April 2012, we have successfully deployed and operated an advanced Tin Suction Vessel (KIP) in the Kundur Islands, Riau Islands Province. Our operations are conducted under the strict mining authority of PT Timah Indonesia, ensuring that every project aligns with national strategic work plans and world-class industry standards.<p>',
    img: 'assets/img/dummy/aryasatya-overview.jpg',
    list: [
      {
        number: '14+',
        type: 'Years',
        detail: 'Operational'
      },
      {
        number: '300+',
        type: 'Tonnes',
        detail: 'Annual Capacity'
      },
    ]
  };

include ../../../components/Businesses/AryasatyaOverview/html.pug
