/* ==========================================================================
   Business Key Styles
   ========================================================================== */

.businesses-key {
  $bk: &;
  padding: 96px 0 104px;
  overflow: hidden;
  @include medium {
    padding: 64px 0 72px;
  }
  @include small {
    padding: 40px 0 48px;
  }
  &__head {
    margin-bottom: 48px;
    @include fade-in-loaded;
    @include content-transition;
    @include medium {
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 24px;
    }

  }
  &__title {
    @include font-size(h2);
    font-weight: fw(bold);
    color: color(neutral, 9);
    margin-bottom: 0;
    @include medium {
      @include font-size(h3);
    }
    @include small {
      @include font-size(h4);
    }
  }
  &__body {
    display: flex;
    @include fade-in-loaded;
    @include content-transition;
    @include medium {
      flex-direction: column-reverse;
    }
  }
  &__content {
    flex: 0 0 auto;
    background-color: color(primary, 1);
    @include radius(4);
    padding: 24px;
    margin-right: 32px;
    width: 448px;
    overflow: hidden;
    @include medium {
      width: initial;
      margin-right: 0;
    }
  }
  &__map {
    flex: 1;
    background-color: color(primary, 1);
    @include radius(4);
    overflow: hidden;
    @include medium {
      flex: 0 0 auto;
      height: 320px;
      margin-bottom: 32px;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 24px;
    height: 24px;
    margin-top: 6px;
    background-color: color(primary, 5);
    @include radius(2);
    overflow: hidden;
    &__el {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    margin-left: 14px;
  }
  &__label {
    @include font-size(h6);
    font-weight: fw(semibold);
    color: color(neutral, 8);
    margin-bottom: 4px;
  }
  &__desc {
    p {
      @include font-size(body);
      color: color(neutral, 7);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &--energy {
    #{$bk} {
      &__content {
        width: 544px;
        background-color: color(primary, 5);
        @include medium {
          width: 100%;
        }
      }
      &__icon {
        background-color: color(primary, 1);
      }
      &__label,
      &__desc {
        color: color(neutral, 50);
      }
    }
  }
  &--sejati {
    background-color: color(neutral, 1);
    #{$bk} {
      &__body {
        flex-direction: row-reverse;
        @include medium {
          flex-direction: column-reverse;
        }
      }
      &__content {
        width: 480px;
        background-color: color(primary, 5);
        margin-right: 0;
        margin-left: 32px;
        @include medium {
          width: 100%;
          margin-left: 0;
        }
      }
      &__icon {
        background-color: color(primary, 1);
      }
      &__label,
      &__desc {
        color: color(neutral, 50);
      }
    }
  }
  &--mining {
    padding-top: 56px;
    @include medium {
      padding-top: 40px;
    }
    @include small {
      padding-top: 24px;
    }
    #{$bk} {
      &__body {
        @include medium {
          flex-direction: column;
        }
      }
      &__content {
        width: 512px;
        padding: 0;
        background-color: transparent;
        @include medium {
          width: 100%;
          margin-bottom: 32px;
        }
      }
      &__title {
        color: color(primary, 5);
        margin-bottom: 16px;
      }
      &__list {
        display: flex;
        border: 1px solid color(neutral, 3);
        @include radius(4);
        margin-bottom: 32px;
        @include medium {
          flex-direction: column;
        }
        @include small {
          margin-bottom: 24px;
        }
        + div {
          margin-bottom: 0;
        }
      }
      &__item {
        flex: 1;
        display: flex;
        padding: 20px;
        margin-bottom: 0;
        &:not(:last-child) {
          border-right: 1px solid color(neutral, 3);
          @include medium {
            border-right: 0;
            border-bottom: 1px solid color(neutral, 3);
          }
        }
        #{$bk} {
          &__desc {
            @include font-size(body);
            margin-bottom: 0;
          }
        }
      }
      &__desc {
        margin-bottom: 32px;
        @include small {
          margin-bottom: 24px;
        }
      }
      &__icon {
        background-color: transparent;
      }
    }
  }
}
