//-------------------------------------------------------------------------------
  @name: Under Construction Page
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Under Construction',
    img: 'assets/img/bg/under-maintenance.svg',
    btn: {
      to: "index.html",
      text: "Back to Homepage",
    }
  };

include ../../components/UnderConstruction/html.pug
