//-------------------------------------------------------------------------------
  @name: Awards
  -------------------------------------------------------------------------------//

extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'Awards';
    page = 'awards';
    headerStill = true;

//- Body
block siteContent

  //- Awards Banner
  include awards/AwardsBanner.pug

  //- Awards List
  include awards/AwardsList.pug

