//-------------------------------------------------------------------------------
  @name: Home
  -------------------------------------------------------------------------------//

extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'PT Sele Raya Mining';
    page = 'mining'

//- Body
block siteContent
  //- Mining Banner
  include businesses/mining/MiningBanner.pug

  //- Mining Overview
  include businesses/mining/MiningOverview.pug

  //- Mining Key
  include businesses/mining/MiningKey.pug

  //- Mining Value
  include businesses/mining/MiningValue.pug

  //- Mining Why
  include businesses/mining/MiningWhy.pug

