//-------------------------------------------------------------------------------
  @name: Home
  -------------------------------------------------------------------------------//

extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'PT Sele Raya Agri';
    page = 'agri'

//- Body
block siteContent
  //- Agri Banner
  include businesses/agri/AgriBanner.pug

  //- Agri Overview
  include businesses/agri/AgriOverview.pug

  //- Agri Vision & Mission
  include businesses/agri/AgriVisionMission.pug

  //- Agri Resource
  include businesses/agri/AgriResource.pug

  //- Agri Value
  include businesses/agri/AgriValue.pug

  //- Agri Commitment
  include businesses/agri/AgriOverviewCommitment.pug

  //- Agri Why
  include businesses/agri/AgriWhy.pug
