//-------------------------------------------------------------------------------
  @name: Home
  -------------------------------------------------------------------------------//

extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'PT Sele Raya Ingredients';
    page = 'ingredients'

//- Body
block siteContent
  //- Businesses Banner
  include businesses/ingredients/BusinessesBanner.pug

