//-------------------------------------------------------------------------------
  @name: Home
  -------------------------------------------------------------------------------//

extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'PT Sele Raya Aryasatya';
    page = 'aryasatya'

//- Body
block siteContent
  //- Aryasatya Banner
  include businesses/aryasatya/AryasatyaBanner.pug

  //- Aryasatya Overview
  include businesses/aryasatya/AryasatyaOverview.pug

  //- Aryasatya Resource
  include businesses/aryasatya/AryasatyaResource.pug

  //- Aryasatya Impact
  include businesses/aryasatya/AryasatyaImpact.pug

  //- Aryasatya Commitment
  include businesses/aryasatya/AryasatyaCommitment.pug
