//-------------------------------------------------------------------------------
  @name: Home
  -------------------------------------------------------------------------------//

extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'PT Sele Raya Energy';
    page = 'energy'

//- Body
block siteContent
  //- Energy Banner
  include businesses/energy/EnergyBanner.pug

  //- Energy About
  include businesses/energy/EnergyAbout.pug

  //- Energy Value
  include businesses/energy/EnergyValue.pug

  //- Energy Key
  include businesses/energy/EnergyKey.pug

  //- Energy Statistic
  //- include businesses/energy/EnergyStatistic.pug

  //- Energy Why
  include businesses/energy/EnergyWhy.pug
