extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'Career';
    page = 'career';
    headerStill = true;

//- Body
block siteContent
  //- career Banner
  include career/CareerBanner.pug

  //- career Corporate
  include career/CareerCorporate.pug


