extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'CSR Details';
    page = 'csr';
    headerStill = true;

//- Body
block siteContent
  //- CSR Details
  include csr-details/CsrDetails.pug





