extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'CSR';
    page = 'csr';

//- Body
block siteContent
  //- Page Banner
  include csr/PageBanner.pug

  //- CSR Content
  include csr/Content.pug
  



