extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'News Details';
    page = 'news';
    headerStill = true;

//- Body
block siteContent
  //- News Details
  include news-details/NewsDetails.pug






