extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'News';
    page = 'news';
    headerStill = true;

//- Body
block siteContent
  //- News Banner
  include news/NewsBanner.pug

  //- News List
  include news/NewsList.pug





