//-------------------------------------------------------------------------------
  @name: Home
  -------------------------------------------------------------------------------//

extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'Not Found';
    page = 'not-found';
    headerStill = true;

//- Body
block siteContent

  //- NotFound
  include not-found/NotFound.pug
