//-------------------------------------------------------------------------------
  @name: Home
  -------------------------------------------------------------------------------//

extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'Under Maintenance';
    page = 'under-construction';
    headerStill = true;

//- Body
block siteContent

  //- Under Maintenance
  include under-maintenance/UnderMaintenance.pug
