//-------------------------------------------------------------------------------
  @name: Home
  -------------------------------------------------------------------------------//

extends ../templates/Default/html.pug

//- Head
block siteHeader
  -
    siteTitle = 'Under Construction';
    page = 'under-construction';
    headerStill = true;

//- Body
block siteContent

  //- Under Construction
  include under-construction/UnderConstruction.pug
