//-------------------------------------------------------------------------------
  @name: About Highlight
  -------------------------------------------------------------------------------//


-
  data = {
    bgImg: "bg-beyond-energy.png",
    subtitle: "BEYOND ENERGY",
    title: "Investing in a Smarter, Digitally Connected Future.",
    desc: "<p>Sele Raya Group has evolved into a progressive multi-sector leader. While our roots are in energy, our vision extends far beyond. Today, we play a major role in Indonesia and the Southeast Asian region across Energy, Forestry, and the Digital Space.</p><p>Our focus is clear: ensuring Indonesia’s energy security while enhancing the well-being of its people. We don't just invest in businesses; we invest in solutions that improve lives.</p>",
  };

include ../../components/AboutUs/AboutBeyondSection/html.pug

