//-------------------------------------------------------------------------------
  @name: About Highlight
  -------------------------------------------------------------------------------//


-
  data = {
    img: "about-highlight.png",
    subtitle: "KEY HIGHLIGHT",
    title: "Powering Indonesia’s Sustainable Growth",
    desc: "Founded in 1974, Sele Raya Group is a diversified multi-sector conglomerate. We deliver sustainable energy, resources, and industrial solutions that drive national growth and create long-term value for our stakeholders.",
    stats: [
      { num: "1974",  label: "FOUNDED" },
      { num: "9",  label: "SUBSIDIARIES" },
      { num: "1.500",  label: "TEAM MEMBERS" }
    ]
  };

include ../../components/AboutUs/AboutHighlight/html.pug

