//-------------------------------------------------------------------------------
  @name: About Highlight
  -------------------------------------------------------------------------------//


-
  data = {
    title: 'Corporate Values',
    desc: 'We operate with a Safety First mindset and a spirit of Teamwork. Our identity is built on the 6 Cs:',
    icon: 'building.png',
    image: 'about-corporate.png',
    values: [
      {
        title: 'Caring'
      },
      {
        title: 'Consentration'
      },
      {
        title: 'Competitiveness'
      },
      {
        title: 'Creative'
      },
      {
        title: 'Communication'
      },
      {
        title: 'Commitment'
      }
    ] 
    
  };

include ../../components/AboutUs/AboutCorporate/html.pug

