//-------------------------------------------------------------------------------
  @name: About Highlight
  -------------------------------------------------------------------------------//


-
  data = {
    subtitle: 'MEET OUR TEAM',
    title: 'Expertise That Drives Sustainable Success.',
    members: [
      {
        name: 'Michael Scout',
        position: 'Managing Director',
        image: 'managing-director.png'
      },
      {
        name: 'Tynisa Obey',
        position: 'Deputy Managing Director',
        image: 'deputy-managing.png'
      },
      {
        name: 'Kylee Dafron',
        position: 'Head of Financing',
        image: 'head-of-financing.png'
      },
      {
        name: 'Hannah Bures',
        position: 'Operation Director',
        image: 'operation-director.png'
      },

    ]
  };

include ../../components/AboutUs/AboutTeam/html.pug

