//-------------------------------------------------------------------------------
  @name: About Beyon Energy
  -------------------------------------------------------------------------------//


-
  data = {
    title: "A Diversified Leader",
    desc: "<p>As a progressive energy company, Sele Raya Group is a key driver of Indonesia’s energy security. Beyond production, we have strategically expanded into Forestry, Technology, and the Digital Space, ensuring our growth directly enhances the well-being of the Indonesian people.</p><p>Today, we are more than an energy provider we are a catalyst for digital transformation. Our investment portfolio includes some of the world’s most innovative platforms:</p>",
    items: [
      {
        icon: "halodoc.png",
        desc: "A leading Healthtech platform revolutionizing telemedicine and pharmacy delivery."
      },
      {
        icon: "grab.png",
        desc: "A Southeast Asian giant improving transportation and logistical efficiency."
      },
      {
        icon: "spacex.png",
        desc: "Pushing the boundaries of technology \"beyond and to infinity.\""
      },
      {
        icon: "cakap.png",
        desc: "Empowering the nation through accessible online education."
      },
      {
        icon: "koin-orks.png",
        desc: "A P2P Fintech leader providing SMEs with affordable growth capital."
      },
      {
        icon: "bobobox.png",
        desc: "Digitalizing travel and tourism from Sumatra to Papua."
      },
      {
        icon: "traval.png",
        desc: "Authentic sustainable journeys to hidden travel destinations."
      },
      {
        icon: "pouch-nation.png",
        desc: "Streamlining event management through digital guest solutions."
      },
      {
        icon: "omnilytics.png",
        desc: "Providing advanced data infrastructure for global industries."
      },
      {
        icon: "memberid.png",
        desc: "Helping brands build profitable and long-term customer loyalty."
      },
    ]
  };

include ../../components/AboutUs/AboutBeyondEnergy/html.pug

