//-------------------------------------------------------------------------------
  @name: About Highlight
  -------------------------------------------------------------------------------//


-
  data = {
    vision: {
      image: 'vision.png',
      title: 'Our Vision',
      desc: 'To be a world-class energy leader in the Asia Pacific region.'
    },
    mission: {
      image: 'target.png',
      title: 'Our Mission',
      desc: 'To actively contribute to the nation’s clean energy production and economic welfare through the responsible acquisition and optimization of strategic assets.'
    },
    img: 'about-vm.png',
    title: 'Our Vision & Mission'

  };

include ../../components/AboutUs/AboutVisionMission/html.pug

