//-------------------------------------------------------------------------------
  @name: About Highlight
  -------------------------------------------------------------------------------//


-
  data = {
    title: 'A Legacy of  Innovation and Growth',
    desc: 'Sele Raya Group is a leading Indonesia-based company headquartered in Jakarta, with strategic operations across the archipelago. For over five decades, we have played a vital role in Indonesia’s economic journey through five key business lines: Energy, Mining, Agroforestry, FMCG, and Technology.',
    video: 'assets/video/about-legacy.mp4',
    text: '<p>Our journey began in 1974 as an oilfield services company. Through constant innovation and learning, we evolved into a primary energy producer in 1994, later expanding into natural gas, tin mining, and consumer goods. Today, we are a stronger, more resilient group of companies dedicated to the highest standards of performance.</p><p>At Sele Raya, we believe that profit is the result of our commitment. Our focus remains on the planet and its people, ensuring that every project we undertake leaves a positive impact on the environment and society.</p>'
  };

include ../../components/AboutUs/AboutLegacy/html.pug

