//-------------------------------------------------------------------------------
  @name: Page Banner
  -------------------------------------------------------------------------------//

-
  data = {
    banner: {
      subtitle: 'ABOUT',
      title: 'Innovating for People and Planet.',
      description: "A diversified leader in Energy, Mining, and Technology, committed to world class standards and responsible practices.",
      imageDesktop: "assets/img/dummy/page-banner-about-desktop.png",
      imageMobile: "assets/img/dummy/page-banner-about-mobile.png"
    }
  };

include ../../components/PageBanner/html.pug
