//-------------------------------------------------------------------------------
  @name: Belida Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      image: 'assets/img/dummy/businesses-banner-belida.jpg',
      label: 'Sele Raya Belida',
      title: 'Proven reserves. Seamless production.',
      description: 'From first gas-in at the Cantik Field to consistent oil delivery at Sungai Anggur, we deliver high-value energy through reliable infrastructure and local expertise.',
      btn: {
        text: 'Learn More',
        link: 'https://www.seleraya.co.id/business/sele-raya-belida'
      }
    }
  ];

include ../../../components/HeroBanner/html.pug
