//-------------------------------------------------------------------------------
  @name: belida why
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Why Belida Block?',
    list: [
      {
        img: '/assets/img/dummy/medal.svg',
        title: 'Proven Success',
        desc: 'A track record of moving from discovery to "First Oil/Gas" efficiently.'
      },
      {
        img: '/assets/img/dummy/gear-fine.svg',
        title: 'Strategic Infrastructure',
        desc: 'Direct tie-ins to Pertamina and Medco transmission lines ensure immediate cash flow for new discoveries.'
      },
      {
        img: '/assets/img/dummy/hard-drives.svg',
        title: 'Modern Data',
        desc: 'All prospects are backed by modern seismic delineation, significantly reducing exploration risk.'
      },
      {
        img: '/assets/img/dummy/flower-lotus.svg',
        title: 'Long Term Stability',
        desc: 'With the PSC extending to 2034, there is a decade of runway for secondary recovery and deep exploration.'
      }
    ]
  };

include ../../../components/Businesses/BusinessesWhy/html.pug
