//-------------------------------------------------------------------------------
  @name: belida explore
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Future Upside & Exploration Potential',
    desc: 'Beyond current production, the Belida Block holds significant "low-risk" exploration targets that can be quickly monetized using existing facilities.',
    img: 'assets/img/dummy/belida-exploration.jpg',
    list: [
      {
        title: 'Sungai Anggur Selatan',
        desc: '<p>Strategically located adjacent to proven commercial fields Tepus, Pandan, and Petanang Lembak Deep strengthens our growth portfolio.</p><p>The area has identified 8 prospective leads with estimated unrisked recoverable resources of</p><p>These findings position Lembak Deep as a key contributor to future reserve expansion.</p>'
      },
      {
        title: 'Lebong Area Baturaja Reservoir',
        desc: '<p>Lebong Area presents a significant heavy oil opportunity with an estimated 500 MMBOIP (Original Oil in Place).</p><p>Initial well tests have successfully encountered pay zones up to 110 feet, confirming the reservoir’s substantial development potential.</p>'
      }
    ]
  };

include ../../../components/Businesses/BelidaExplore/html.pug
