//-------------------------------------------------------------------------------
  @name: Belida Overview
  -------------------------------------------------------------------------------//

-
  data = {
      title: 'Operational Profile & Ownership',
      list: [
        {
          img: 'assets/img/dummy/hard-hat.svg',
          title: 'Operator',
          desc: 'PT Sele Raya Belida 95% Participating Interest',
        },
        {
          img: 'assets/img/dummy/users.svg',
          title: 'Partner',
          desc: 'CIEC 5% Participating Interest',
        },
        {
          img: 'assets/img/dummy/calendar-check.svg',
          title: 'Contract Term',
          desc: '12 December 2004 – 11 December 2034',
        },
        {
          img: 'assets/img/dummy/map-trifold.svg',
          title: 'Location',
          desc: 'Muara Enim, South Sumatra, 95 km west of Palembang',
        }
      ],
    };

include ../../../components/Businesses/BusinessesKey/html.pug
