//-------------------------------------------------------------------------------
  @name: belida core
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Core Producing Assets',
    description: 'The Belida Block currently generates value through two flagship projects, both of which are fully integrated into Indonesia’s midstream infrastructure.',
    section: [
      {
        title: 'The Sungai Anggur Field Oil Focused',
        reverse: false,
        img: 'assets/img/dummy/belida-core-1.jpg',
        list: [
          {
            title: 'Status',
            desc: 'Producing since August 2018.',
            img: 'assets/img/dummy/info.svg'
          },
          {
            title: 'Infrastructure',
            desc: 'Features a dedicated Crude Oil Transfer Line and Custody Meter Facility.',
            img: 'assets/img/dummy/factory.svg'
          },
          {
            title: 'Market',
            desc: '100% of production is delivered via a 20 inch transmission line to PT Pertamina’s Refinery Unit III in Plaju.',
            img: 'assets/img/dummy/globe-hemisphere-east.svg'
          },
          {
            title: 'Growth',
            desc: 'Recent expansions include the Sungai Anggur Selatan development (POD approved 31 October 2025).',
            img: 'assets/img/dummy/chart-line-up.svg'
          }
        ]
      },
      {
        title: 'The Cantik Field Gas Focused',
        reverse: true,
        img: 'assets/img/dummy/belida-core-2.jpg',
        list: [
          {
            title: 'Status',
            desc: 'First gas achieved in July 2020.',
            img: 'assets/img/dummy/info-primary.svg'
          },
          {
            title: 'Capacity',
            desc: 'Features a dedicated 12 inch Gas Sales Line and Custody Meter Facility.',
            img: 'assets/img/dummy/database-primary.svg'
          },
          {
            title: 'Market',
            desc: 'Secured by an 11-year Gas Sales Agreement (GSA) with PT Pertagas Niaga.',
            img: 'assets/img/dummy/globe-hemisphere-east-primary.svg'
          }
        ]
      }
    ]
  };

include ../../../components/Businesses/BelidaCore/html.pug
