/* ==========================================================================
   About Vision Mission
   ========================================================================== */

.about-vm {
  background-color: color(primary, 5);
  position: relative;
  &__inner {
    display: flex;
    min-height: 100%;
    @include medium {
      display: block;
    }
  }

  &__content {
    width: 50%;
    position: relative;
    @include medium {
      width: 100%;
    }
    &__card {
      @include fade-in-loaded;
      @include content-transition;
      padding: 88px 0 72px;
      &:not(:last-child) {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100vw;
          height: 1px;
          background-color: color(neutral, 4);
        }
      }
      @include medium {
        padding: 56px 0 48px;
      }
      @include x-small {
        padding: 32px 0 24px;
      }
    }
    &__image {
      width: 40px;
      height: 40px;
      margin-bottom: 32px;
      &-el {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include x-small {
        margin-bottom: 24px;
      }
      @include retina {
        width: 32px;
        height: 32px;
      }
    }
    &__text {
      max-width: 480px;
      @include large {
        max-width: 400px;
      }
      @include medium {
        max-width: 100%;
      }
    }
  }

  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(neutral, 50);
    margin-bottom: 8px;
    @include retina {
      @include font-size(h5);
    }
  }

  &__desc {
    @include font-size(h6);
    font-weight: fw(regular);
    color: color(neutral, 50);
    margin: 0;
    @include retina {
      @include font-size(body);
    }
  }
  &__image {
    position: absolute;
    top: 0;
    right: calc(50% - 50vw);
    width: 50vw;
    height: 100%;
    
    @include medium {
      position: relative;
      top: auto;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 400px;
    }
    @include x-small {
      height: 328px;
    }
    &-el {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}