//-------------------------------------------------------------------------------
  @name: News Banner
  -------------------------------------------------------------------------------//

-
  data = {
    img: {
      src: "assets/img/dummy/awards-banner.png",
      alt: "News Banner"
    },
    title: "KKKS Sele Raya Belida Wins Optimum Production Award at SKK Migas Award 2024",
    label: "Award",
    date: "05 Dec 2025",
    link: {
      to: "/news-details.html",
      text: "Read More"
    },
    list: [
      {
        link: {
          to: "/news-details.html"
        },
        img: {
          src: "assets/img/dummy/news-4.png",
          alt: "News"
        },
        title: "PT Sele Raya Belida Successfully Produces 1,500 Barrels of Oil Per Day (BOPD) from SAS-2 Well",
        label: "Production",
        date: "05 Dec 2025"
      },
      {
        link: {
          to: "/news-details.html"
        },
        img: {
          src: "assets/img/dummy/news-3.png",
          alt: "News"
        },
        title: "Government Appoints PT Medco Energi, PT Sele Raya & KUFPEC as Operators of Amanah Block",
        label: "Partnership",
        date: "05 Dec 2025"
      },
      {
        link: {
          to: "/news-details.html"
        },
        img: {
          src: "assets/img/dummy/news-5.png",
          alt: "News"
        },
        title: "SAS-2 Well Discovery: PT Sele Raya Belida Successfully Finds New Oil & Gas Reserves",
        label: "Production",
        date: "05 Dec 2025"
      },
    ]


  };

include ../../components/News/NewsBanner/html.pug
