//-------------------------------------------------------------------------------
  @name: Contact Us Modal Success
  -------------------------------------------------------------------------------//

-
  dataModal = {
    img: 'assets/img/dummy/modal-success.png',
    title: 'Message Received',
    description: 'Thank you for contacting us. We will respond to your message during business hours.',
  };

include ../../components/ModalSuccess/html.pug

