//-------------------------------------------------------------------------------
  @name: Contact Form
  -------------------------------------------------------------------------------//

-
  dataForm = {
    subtitle: 'GET IN TOUCH',
    title: 'Let’s Build a Sustainable Future Together.',
    desc: 'Whether you are looking for partnership opportunities, have inquiries about our services, or want to learn more about our projects, our team is ready to assist you.',
    info: [
      {
      icon: 'map-pin-2',
      label: [
        'Graha Sele Building',
        'Jl. Tebet Raya No. 8-10',
        'Tebet Barat, Tebet, Jakarta Selatan',
        'DKI Jakarta 12810'
      ],
      type: 'map',
      href: 'https://maps.google.com/?q=Graha+Sele+Building+Jakarta'
      },
      {
        icon: 'phone',
        label: ['021-83703608'],
        type: 'tel',
        href: 'tel:02183703608'
      },
      {
        icon: 'email',
        label: ['help@seleraya.co.id'],
        type: 'email',
        href: 'mailto:help@seleraya.co.id'
      }
    ],
    form: [
      {
        type: 'text',
        name: 'name',
        id: 'name',
        label: 'Full Name *',
        required: "Please enter your full name",
        target: 'name_error',
        autocomplete: 'nope'
      },
      {
        type: 'tel',
        name: 'phone',
        id: 'phone',
        label: 'Phone Number *',
        required: "Please enter your phone number",
        target: 'phone_error',
        invalid: 'Invalid phone number format. Please check again.',
        autocomplete: 'off',

      },
      {
        type: 'text',
        name: 'email',
        id: 'email',
        label: 'Email Address *',
        required: "Please enter your email address",
        target: 'email_error',
        invalid: 'Invalid email format. Please check again.',
        autocomplete: 'off'
      },
      {
        type: 'text',
        name: 'company',
        id: 'company',
        label: 'Company Name *',
        required: 'Please enter your company name.',
        autocomplete: 'nope',
        target: 'company_error'

      },
      {
        type: 'textarea',
        name: 'message',
        id: 'message',
        label: 'How can we help? *',
        required: 'Please enter a message.',
        autocomplete: 'nope',
        target: 'message_error'
      }


    ]
  }

include ../../components/ContactUs/ContactUsForm/html.pug
