//-------------------------------------------------------------------------------
  @name: Contact Form
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Sele Raya Belida',
      icon: 'fire',
      menu: [
        {
          type: 'map',
          icon: 'map-pin-2',
          label: [
            'Jl. Raya Belida No. 88, Kec. Sungai Raya, Kab. Kubu Raya, Kalimantan Barat 78391'
          ],
          href: 'https://www.google.com/maps?q=Jl.+Raya+Belida+No.+88,+Kec.+Sungai+Raya,+Kab.+Kubu+Raya,+Kalimantan+Barat+78391'
        },
        {
          type: 'link',
          icon: 'phone',
          href: 'tel:+628115678123',
          label: [
            '+62 811-5678-123'
          ]
        },
        {
          type: 'link',
          icon: 'email',
          href: 'mailto:info@seleraya.com',
          label: [
            'info@seleraya.com'
          ]
        }
      ]
    },
    {
      title: 'Sele Raya Sejati',
      icon: 'lightning',
      menu: [
        {
          type: 'map',
          icon: 'map-pin-2',
          label: [
            'Jl. Pembangunan No. 12, Pontianak, Kalimantan Barat 78121'
          ],
          href: 'https://www.google.com/maps?q=Jl.+Pembangunan+No.+12,+Pontianak,+Kalimantan+Barat+78121'
        },
        {
          type: 'link',
          icon: 'phone',
          href: 'tel:+628119990001',
          label: [
            '+62 811-9990-001'
          ]
        },
        {
          type: 'link',
          icon: 'email',
          href: 'mailto:sejati@seleraya.com',
          label: [
            'sejati@seleraya.com'
          ]
        }
      ]
    },
    {
      title: 'Sele Raya Aryasatya',
      icon: 'boat',
      menu: [
        {
          type: 'map',
          icon: 'map-pin-2',
          label: [
            'Jl. Industri No. 45, Samarinda, Kalimantan Timur 75117'
          ],
          href: 'https://maps.google.com/?q=Jl.+Industri+No.+45,+Samarinda,+Kalimantan+Timur+75117'
        },
        {
          type: 'link',
          icon: 'phone',
          href: 'tel:+6281212345678',
          label: [
            '+62 812-1234-5678'
          ]
        },
        {
          type: 'link',
          icon: 'email',
          href: 'mailto:aryasatya@seleraya.com',
          label: [
            'aryasatya@seleraya.com'
          ]
        }
      ]
    },
    {
      title: 'Sele Raya Mining',
      icon: 'sketch-logo',
      menu: [
        {
          type: 'map',
          icon: 'map-pin-2',
          label: [
            'Jl. Industri No. 45, Samarinda, Kalimantan Timur 75117'
          ],
          href: 'https://maps.google.com/?q=Jl.+Industri+No.+45,+Samarinda,+Kalimantan+Timur+75117'

        },
        {
          type: 'link',
          icon: 'phone',
          href: 'tel:+6281212345678',
          label: [
            '+62 812-1234-5678'
          ]
        },
        {
          type: 'link',
          icon: 'email',
          href: 'mailto:mining@seleraya.com',
          label: [
            'mining@seleraya.com'
          ]
        }
      ]
    },
    {
      title: 'Sele Raya Agri',
      icon: 'sketch-logo',
      menu: [
        {
          type: 'map',
          icon: 'map-pin-2',
          label: [
            'Jl. Industri No. 45, Samarinda, Kalimantan Timur 75117'
          ],
          href: 'https://maps.google.com/?q=Jl.+Industri+No.+45,+Samarinda,+Kalimantan+Timur+75117'
        },
        {
          type: 'link',
          icon: 'phone',
          href: 'tel:+6281212345678',
          label: [
            '+62 812-1234-5678'
          ]
        },
        {
          type: 'link',
          icon: 'email',
          href: 'mailto:agri@seleraya.com',
          label: [
            'agri@seleraya.com'
          ]
        }
      ]
    },
    {
      title: 'Sele Wana Persada',
      icon: 'clover',
      menu: [
        {
          type: 'map',
          icon: 'map-pin-2',
          label: [
            'Jl. Industri No. 45, Samarinda, Kalimantan Timur 75117'
          ],
          href: 'https://maps.google.com/?q=Jl.+Industri+No.+45,+Samarinda,+Kalimantan+Timur+75117'
        },
        {
          type: 'link',
          icon: 'phone',
          href: 'tel:+6281212345678',
          label: [
            '+62 812-1234-5678'
          ]
        },
        {
          type: 'link',
          icon: 'email',
          href: 'mailto:wana@seleraya.com',
          label: [
            'wana@seleraya.com'
          ]
        }
      ]
    },
    {
      title: 'Investidea Ventures',
      icon: 'chart-line-up',
      menu: [
        {
          type: 'map',
          icon: 'map-pin-2',
          label: [
            'Jl. Industri No. 45, Samarinda, Kalimantan Timur 75117'
          ],
          href: 'https://maps.google.com/?q=Jl.+Industri+No.+45,+Samarinda,+Kalimantan+Timur+75117'

        },
        {
          type: 'link',
          icon: 'phone',
          href: 'tel:+6281212345678',
          label: [
            '+62 812-1234-5678'
          ]
        },
        {
          type: 'link',
          icon: 'email',
          href: 'mailto:investidea@seleraya.com',
          label: [
            'investidea@seleraya.com'
          ]
        }
      ]
    },
    {
      title: 'Sele Ingredients',
      icon: 'lab',
      menu: [
        {
          type: 'map',
          icon: 'map-pin-2',
          label: [
            'Jl. Industri No. 45, Samarinda, Kalimantan Timur 75117'
          ],
          href: 'https://maps.google.com/?q=Jl.+Industri+No.+45,+Samarinda,+Kalimantan+Timur+75117'
        },
        {
          type: 'link',
          icon: 'phone',
          href: 'tel:+6281212345678',
          label: [
            '+62 812-1234-5678'
          ]
        },
        {
          type: 'link',
          icon: 'email',
          href: 'mailto:ingredients@seleraya.com',
          label: [
            'ingredients@seleraya.com'
          ]
        }
      ]
    },
  ]

include ../../components/ContactUs/ContactUsAccordion/html.pug
