//-------------------------------------------------------------------------------
  @name: Privacy Policy Section
  -------------------------------------------------------------------------------//

include ../../components/PrivacyPolicy/html.pug
