//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      image: 'assets/img/dummy/businesses-banner-persada.jpg',
      label: 'Amindo Wana Persada',
      title: 'Premium Meranti, Responsibly Sourced.',
      description: 'Over 2.9 Million m3 of high-quality timber potential, managed under the highest Sustainable Forest Management (PHPL) standards.',
    }
  ];

include ../../../components/HeroBanner/html.pug
