//-------------------------------------------------------------------------------
  @name: Amindo Wana Persada Overview
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'commitment',
    title: 'A Legacy of Sustainable Forestry',
    subtitle: 'PT Amindo Wana Persada, a proud member of the Sele Raya Group, is a premier forest concession company dedicated to sustainable resource management in Indonesia.',
    desc: '<p>Our concession covers approximately 43,680 hectares in the Berau Regency, East Kalimantan. With a business permit (IUPHHK-HA) valid until October 14, 2054, we offer long-term stability and reliability in the timber and forestry sector.</p><h4>Commitment to Sustainability</h4><p>We don\'t just manage forests; we protect their future. PT Amindo Wana Persada has proudly obtained the Sustainable Forest Management Certification (PHPL). This certification confirms that our operations meet the highest performance standards for sustainable production forest management as endorsed by the Minister of Forestry.</p>',
    img: 'assets/img/dummy/amindo-wana-persada-overview-commitment.jpg',
  };

include ../../../components/Businesses/BusinessesOverview/html.pug
