//-------------------------------------------------------------------------------
  @name: Amindo Wana Persada Overview
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'commitment',
    title: 'Corporate Social Responsibility',
    subtitle: 'We believe that our success should benefit the communities surrounding us. PT Amindo Wana Persada is deeply committed to improving the quality of life in local villages such as Long Lamcin, Batu Rajang, and Long Suluy.',
    img: 'assets/img/dummy/amindo-wana-persada-overview-social.jpg',
    accordion: [
      {
      icon: 'lightbulb',
      title: 'Energy & Infrastructure',
      desc: 'Providing diesel fuel, lighting, and regular road repairs for surrounding villages.',
      },
      {
      icon: 'lightbulb',
      title: 'Education',
      desc: 'Providing diesel fuel, lighting, and regular road repairs for surrounding villages.',
      },
      {
      icon: 'car',
      title: 'Transportation & Healthcare',
      desc: 'Providing diesel fuel, lighting, and regular road repairs for surrounding villages.',
      },
      {
      icon: 'building-office',
      title: 'Social Support',
      desc: 'Providing diesel fuel, lighting, and regular road repairs for surrounding villages.',
      },
      {
      icon: 'coins',
      title: 'Economic Partnership',
      desc: 'Providing diesel fuel, lighting, and regular road repairs for surrounding villages.',
      },
    ],
  };

include ../../../components/Businesses/BusinessesOverview/html.pug
