//-------------------------------------------------------------------------------
  @name: Agri Overview
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Operational Excellence',
    desc: '<p>Our operations are driven by data and a rich supply of high-quality timber. We focus on delivering premium wood products while maintaining the ecological health of our concession area.</p>',
    img: 'assets/img/dummy/agri-overview-operation.jpg',
    list: [
      {
      img: 'assets/img/dummy/certificate-primary.svg',
      title: 'Premium Timber Quality',
      desc: 'Our primary stock consists of the highly sought-after Meranti group.',
      },
      {
      img: 'assets/img/dummy/chart-bar-primary.svg',
      title: 'High Yield Potential',
      desc: 'Our concession maintains a significant diameter class of > 50 cm, with an average density of 68 m³/Ha.',
      },
      {
      img: 'assets/img/dummy/tree-palm-primary.svg',
      title: 'Massive Reserves',
      desc: 'We have an estimated potential of 2,900,688 m³ of standing timber.',
      },
      {
      img: 'assets/img/dummy/trophy-primary.svg',
      title: 'Proven Track Record',
      desc: 'With a production achievement of 71,000 m³ between 2014 and 2019, we have demonstrated consistent operational capability and growth.',
      },
    ],
  };

include ../../../components/Businesses/BusinessesValue/html.pug
