/* ==========================================================================
   Under Construction Section
   ========================================================================== */

.under-construction {
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    // @include content-transition;
    // @include fade-in-loaded;
  }
  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @include medium {
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 24px;
    }
    &__el {
      display: block;
      width: 370px;
      height: 240px;
      object-fit: contain;
    }
  }
  &__title {
    @include font-size(h3);
    font-weight: fw(regular);
    color: color(neutral, 8);
    margin-bottom: 24px;
    @include small {
      @include font-size(h4);
    }
  }
}
