/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  // Brand Color
  primary: (
    1: #FFF5F5,
    2: #FF8A8A,
    3: #FF5A5A,
    4: #FF2A2A,
    5: #F60303,
    6: #D90202,
    7: #B10202,
    8: #890101,
    9: #610101,
  ),
  // Functional Color
  success: (
    1: #EDF5F1,
    2: #CBDFD5,
    3: #ACCCBD,
    4: #85B9A0,
    5: #4DA27E,
    6: #058F64,
    7: #04805A,
    8: #046F4E,
    9: #035A3F,
  ),
  info: (
    1: #E7EAFB,
    2: #CDD4F8,
    3: #AEBBF4,
    4: #899EF1,
    5: #547AED,
    6: #235EE0,
    7: #2054C9,
    8: #1B49AE,
    9: #163C8E,

  ),
  warning: (
    1: #FEF5E7,
    2: #FDE5C0,
    3: #FCD796,
    4: #FCD288,
    5: #FBBF24,
    6: #EFB622,
    7: #D6A31F,
    8: #B98D1B,
    9: #977316,
  ),
  danger: (
    1: #FFF5F5,
    2: #F3CDCD,
    3: #EDAEAE,
    4: #E68989,
    5: #DF5555,
    6: #D22424,
    7: #BC2020,
    8: #A31C1C,
    9: #851717,

  ),
  // Neutral Color
  neutral: (
    50: #FFFFFF,
    1: #F8FAFC,
    2: #F9f9f9,
    3: #ebebeb,
    4: #e4e4e4,
    5: #b7b7b7,
    6: #525252,
    7: #404040,
    8: #262626,
    9: #171717,
  ),
  // Opacity Color
  black: (
    1: rgba(#171717, 0.01),   // 1%
    2: rgba(#171717, 0.02),   // 2%
    3: rgba(#171717, 0.04),   // 4%
    4: rgba(#171717, 0.08),   // 8%
    5: rgba(#171717, 0.16),   // 16%
    6: rgba(#171717, 0.24),   // 24%
    7: rgba(#171717, 0.32),   // 32%
    8: rgba(#171717, 0.40),   // 40%
    9: rgba(#171717, 0.48),   // 48%
    10: rgba(#000000, 1)   // 100%
  ),

  white: (
    1: rgba(#FFFFFF, 0.08),   // 8%
    2: rgba(#FFFFFF, 0.16),   // 16%
    3: rgba(#FFFFFF, 0.24),   // 24%
    4: rgba(#FFFFFF, 0.32),   // 32%
    5: rgba(#FFFFFF, 0.40),   // 40%
    6: rgba(#FFFFFF, 0.48),   // 48%
    7: rgba(#FFFFFF, 0.56),   // 56%
    8: rgba(#FFFFFF, 0.64),   // 64%
    9: rgba(#FFFFFF, 0.72),   // 72%
    10: rgba(#FFFFFF, 0.88),  // 88%
  ),
  overlay: (
    black: rgba(#171717, 0.24),
    grey: rgba(#171717, 0.16),
  ),
  gradient: (
    1: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.56) 100%),
    2: linear-gradient(267.91deg, rgba(255, 255, 255, 0) 32.93%, rgba(255, 255, 255, 0.4) 65.21%)
  ),
  red: #c32f2f,
  green: #328561,
  shadow: rgba(#000, 0.1),
  shadow-hover: rgba(#000, 0.15),
  social-media: (
    facebook: #1877f2,
    twitter: #1da1f2,
    instagram: #405de6,
    whatsapp: #25d366,
    linkedin: #0a66c2,
    youtube: #ff0000,
    spotify: #1db954,
  ),
);
