/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  footer: 2,
);
