//-------------------------------------------------------------------------------
  @name: belida core
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'The Quantum Leap Fund',
    subtitle: '<p>Our latest vehicle, the Quantum Leap Fund, is designed to capture growth at two critical stages of the business lifecycle</p>',
    desc: '<p><strong>We target high-resilience sectors that are essential to human progress</strong></p><ul><li>Healthcare & Life Sciences</li><li>Education & EdTech</li><li>Clean Energy & Sustainability</li><li>Agriculture & Food Security</li><li>Financial Services</li></ul>',
    img: 'assets/img/dummy/energy-about.jpg',
    list: [
      {
      title: 'The Quantum Fund',
      desc: 'Focused on early-stage venture building, nurturing ideas from the ground up.',
      img: 'assets/img/dummy/rocket-primary.svg'
      },
      {
      title: 'The Leap Fund',
      desc: 'Focused on growth-stage expansion for companies ready to lead their sectors.',
      img: 'assets/img/dummy/chart-bar-primary.svg'
      },
    ]
  };

include ../../../components/Businesses/BusinessesAbout/html.pug
