//-------------------------------------------------------------------------------
  @name: Aryasatya Commitment
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Our Vision & Philosophy',
    desc: '<p>At InvestIdea, we believe that technology is the ultimate differentiator. Since our inception in 2010, our investment philosophy has centered on robust product development as the foundation for scalable success.</p><p>We do more than just provide capital. We act as long-term partners, collaborating with Family Offices to grow wealth while securing a lasting family legacy. By fostering a collaborative platform, we integrate our strategic partners and portfolio companies to scale solutions that are both resilient and impactful.</p>',
    img: 'assets/img/dummy/investidea-ventures-commitment.jpg',
  };

include ../../../components/Businesses/BusinessesCommitment/html.pug
