//-------------------------------------------------------------------------------
  @name: InvestIdea Ventures Overview
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Advancing Humanity Through Strategic Investment',
    desc: '<p>InvestIdea is a multi-stage investment firm dedicated to enabling global progress. We bridge the gap between visionary people, cutting-edge technology, and transformative ideas to generate positive impact and drive environmental development.</p>',
    img: 'assets/img/dummy/investidea-ventures-overview.jpg',
    numbers: [
      {
        number: '14+',
        type: 'Years',
        detail: 'Tech Expertise'
      },
      {
        number: '$200',
        type: 'M+',
        detail: 'Capital Raised'
      },
      {
        number: '10+',
        type: 'Global',
        detail: 'Partners'
      },
      {
        number: '350%',
        type: 'Portfolio',
        detail: 'Growth'
      },
    ]
  };

include ../../../components/Businesses/BusinessesOverview/html.pug
