//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

-
  data = [{
      image: 'assets/img/dummy/businesses-banner-ventures.jpg',
      label: 'Investidea Ventures',
      title: 'From First Line of Code to Global Scale.',
      description: 'Led by founders and tech leaders, we partner with family offices to build resilient portfolios proven by our journey in scaling Southeast Asia’s leading platforms like Halodoc.',
    }];

include ../../../components/HeroBanner/html.pug
