/* ==========================================================================
   footer
   ========================================================================== */

.footer {
  position: relative;
  bottom: 0;
  z-index: zi(footer);
  width: 100%;
  background-color: color(neutral, 1);
  padding-top: 80px;
  overflow: hidden;
  @include medium {
    padding-top: 64px;
  }
  @include small {
    padding-top: 56px;
  }
  @include x-small {
    padding-top: 48px;
  }
  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom:  56px;
    border-bottom: solid 1px color(black, 4);
    @include medium {
      flex-direction: column;
      padding-bottom: 48px;
    }
    @include small {
      padding-bottom: 8px;
    }
  }
  &__logo {
    width: 20%;
    @include medium {
      margin-bottom: 40px;
    }
    @include x-small {
      margin-bottom: 32px;
    }
    &__link {
      display: inline-block;
      text-decoration: none;
    }
    &__img {
      display: block;
      height: 160px;
      width: auto;
      object-fit: contain;
      @include x-small {
        height: 136px;
      }
    }
  }
  &__menu {
    flex: 1;
    display: flex;
    @include small {
      flex-direction: column;
    }
    &__grup {
      width: 25%;
      @include small {
        width: 100%;
      }
      &-item {
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
        @include small {
          margin: 0;
          padding: 16px 0;
          border-top: solid 1px color(black, 4);
        }
      }
      &-list {
        padding: 0;
        margin: 0;
        list-style: none;
        @include small {
          display: none;
          padding-top: 10px;
        }
      }
      &-title {
        @include font-size(body);
        color: color(neutral, 8);
        margin-bottom: 10px;
        font-weight: fw(medium);
        @include small {
          position: relative;
          margin-bottom: 0;
          &::before {
            content: '';
            display: block;
            position: absolute;
            right: 16px !important;
            left: auto !important;
            top: 16px;
            width: 10px;
            height: 1px;
            background: color(neutral, 8);
            border-radius: 0.5px 0 0 0.5px;
            transition: transform 0.2s;
            transform-origin: 100% 100%;
            transform: rotate(44deg);
            z-index: zi(footer);
          }
          &::after {
            content: '';
            display: block;
            position: absolute;
            right: 6px !important;
            left: auto !important;
            top: 16px;
            width: 10px;
            height: 1px;
            background: color(neutral, 8);
            border-radius: 0 0.5px 0.5px 0;
            transition: transform 0.2s;
            transform-origin: 0% 100%;
            transform: rotate(-44deg);
            z-index: zi(footer);
          }
          &.is-active::before {
            top: 8px;
            transform-origin: 100% 0%;
            transform: rotate(-44deg);
          }
          &.is-active::after {
            top: 8px;
            transform-origin: 0% 0%;
            transform: rotate(44deg);
          }
        }
        &-contact {
          @include font-size(body);
          color: color(neutral, 8);
          margin-bottom: 10px;
          font-weight: fw(medium);
        }
      }
      &-items {
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0;
        }
        @include small {
          opacity: 0;
          transform: translateX(8px);
          transition: opacity 0.18s, transform 0.18s;
          .active & {
            opacity: 1;
            transform: none;
          }
          .active & {
            @for $i from 1 through 10 {
              &:nth-child(#{$i}) {
               transition-delay: #{0.03 * $i + 0.06}s;
              }
            }
          }
        }
      }
      &-link {
        text-decoration: none;
        @include font-size(buttonSmall);
        color: color(neutral, 6);
        padding: 4px 0;
        position: relative;
        @include remove-tap-highlight;
        display: inline-block;
        &::before {
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: color(primary, 5);
          transition: 0.5s transform ease;
          transform: scale3d(0, 1, 1);
          // transform-origin: 0 50%;
          transform-origin: center;
        }
        &:hover {
          color: color(primary, 5);
        }
        &:hover::before {
          transform: scale3d(1, 1, 1);
          // transform-origin: 100% 50%;
          transform-origin: center;
        }

      }
      &-contact {
        padding: 0;
        margin: 0;
        list-style: none;
        &-items {
          margin-bottom: 6px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          & i {
            margin-right: 8px;
          }
          & span {
            position: relative;
            display: inline-block;
            &::before {
              content: '';
              width: 100%;
              height: 1px;
              position: absolute;
              left: 0;
              bottom: 0;
              background-color: color(primary, 5);
              transition: 0.5s transform ease;
              transform: scale3d(0, 1, 1);
              transform-origin: center;
            }
            &:hover {
              color: color(primary, 5);
            }
            &:hover::before {
              transform: scale3d(1, 1, 1);
              transform-origin: center;
            }
          }
        }
      }
      &-map {
        display: flex;
        align-items: flex-start;
        & i {
          padding: 4px 0;
          margin-right: 8px;
        }
      }

    }


  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    @include x-small {
      padding: 20px 0
    }
    &__copyright, &__privacy {
      @include font-size(caption);
      color: color(neutral, 8);
      font-weight: fw(regular);
      margin: 0;
    }
    &__privacy {
      padding: 0;
    }
  }
}
