//-------------------------------------------------------------------------------
  @name: CSR Page
  -------------------------------------------------------------------------------//

-
  data = {
    icon: {
      src: 'assets/img/icon/cactus.svg',
      alt: 'Environment Icon'
    },
    title: 'Environment',
    desc: 'Protecting nature through sustainable operations',
    filter: [
      {
        type: 'text',
        name: 'search',
        id: 'search',
        placeholder: 'Search',
        class: 'js-search',
        autocomplete: 'off',
        icon: {
          before: 'search',
        },
      },
      {
        type: 'hidden',
        name: 'year',
        id: 'year',
        mobileLabel: 'Filters',
        placeholder: 'All Years',
        class: 'js-select js-filter-select',
        readonly: 'readonly',
        autocomplete: 'off',
        icon: {
          before: 'faders',
          after: 'caret-down'
        },
        applyButton: true,
        applyButtonText: 'Apply',
        list: [
          {
            text: '2022',
            value: '2022',
          },
          {
            text: '2023',
            value: '2023',
          },
          {
            text: '2024',
            value: '2024',
          },
          {
            text: '2025',
            value: '2025',
          },
        ]
      },

    ],
    list: [
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten1.png',
          alt: 'CSR Card 1'
        },
        title: 'Sustaining Nature for Future Generations',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten2.png',
          alt: 'CSR Card 2'
        },
        title: 'Enviromental Stewardship & Climate Action',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten3.png',
          alt: 'CSR Card 3'
        },
        title: 'Protecting Ecosystems, Preserving Resources',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten2.png',
          alt: 'CSR Card 2'
        },
        title: 'Enviromental Stewardship & Climate Action',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten3.png',
          alt: 'CSR Card 3'
        },
        title: 'Protecting Ecosystems, Preserving Resources',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten1.png',
          alt: 'CSR Card 1'
        },
        title: 'Sustaining Nature for Future Generations',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten3.png',
          alt: 'CSR Card 3'
        },
        title: 'Protecting Ecosystems, Preserving Resources',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten1.png',
          alt: 'CSR Card 1'
        },
        title: 'Sustaining Nature for Future Generations',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten2.png',
          alt: 'CSR Card 2'
        },
        title: 'Enviromental Stewardship & Climate Action',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten2.png',
          alt: 'CSR Card 2'
        },
        title: 'Enviromental Stewardship & Climate Action',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten3.png',
          alt: 'CSR Card 3'
        },
        title: 'Protecting Ecosystems, Preserving Resources',
        date: '15 Feb 2026'
      },
      {
        link: '/csr-details.html',
        image: {
          src: 'assets/img/dummy/csr-conten1.png',
          alt: 'CSR Card 1'
        },
        title: 'Sustaining Nature for Future Generations',
        date: '15 Feb 2026'
      },

    ]

  };

include ../../components/Csr/CsrCategory/html.pug
