/* ==========================================================================
   Csr Content
   ========================================================================== */

.csr-content {
  padding: 96px 0 104px;
  @include medium {
    padding: 64px 0 80px;
  }
  @include x-small {
    padding: 40px 0 56px;
  }
  &__item {
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid color(primary, 5);
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
    @include x-small {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
  }
  &__head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 48px;
    @include medium {
      margin-bottom: 32px;
    }
    @include x-small {
      margin-bottom: 24px;
      position: relative;
    }
    &__left {
      flex: 1;
      display: flex;
      align-items: flex-start;
      @include content-transition(left);
      @include fade-in-loaded(left);
    }
    &-title {
      @include font-size(h3);
      font-weight: fw(semibold);
      color: color(neutral, 8);
      margin-bottom: 6px;
      @include medium {
        @include font-size(h4);
      }
      @include x-small {
        @include font-size(h5);
      }
    }
    &-desc {
      @include font-size(h6);
      font-weight: fw(regular);
      color: color(neutral, 7);
      margin-bottom: 0;
      @include x-small {
        @include font-size(body);
      }
    }
    &__right {
      display: inline-flex;
      align-items: center;
      @include content-transition(right);
      @include fade-in-loaded(right);
      @include x-small {
        position: absolute;
        top: 0;
        right: 0;
        & .btn {
          padding: 0;
          border: 0;
          border-radius: 0;
          background-color: transparent;
          @include font-size(buttonMedium);
          padding-top: 4px;
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
          &:hover {
            color: color(primary, 5);
          }
        }
      }
    }
  }
  &__icon {
    padding-top: 8px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 38px;
    @include medium {
      height: 40px;
      width: 32px;
      margin-right: 18px;
    }
    @include x-small {
      width: 28px;
      height: 36px;
      margin-right: 16px;
    }
    &-el {
      display: block;
      height: 100%;
      width: auto;
      object-fit: contain;

    }
  }
  &__card-list {
    display: flex;
    margin-left: -11px;
    margin-right: -11px;
    @include medium {
      @include scroll("x", "no-touch", "hide");
      margin-left: -32px;
      margin-right: -32px;
      padding-left: 24px;
      padding-right: 24px;
    }
    @include x-small {
      margin-left: -24px;
      margin-right: -24px;
      padding-left: 16px;
      padding-right: 16px;
    }
    @include retina {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .csr-content__card {
    width: 33.3333333%;
    padding: 0 11px;
    @include medium {
      width: 45%;
      flex-shrink: 0;
    }
    @include small {
      width: 80%;
    }
     @include x-small {
      width: 90%;
      padding: 0 8px;
    }
  }
}
