//-------------------------------------------------------------------------------
  @name: CSR Page
  -------------------------------------------------------------------------------//

-
  data = {
    csrContent:[
      {
        icon: {
          src: 'assets/img/icon/cactus.svg',
          alt: 'Environment Icon'
        },
        title: 'Environment',
        desc: 'Protecting nature through sustainable operations',
        btn: {
          text: 'View More',
          to: '/csr-category.html'
        },
        cards: [
          {
            link: '/csr-details.html',
            image: {
              src: 'assets/img/dummy/csr-conten1.png',
              alt: 'CSR Card 1'
            },
            title: 'Sustaining Nature for Future Generations',
            date: '15 Feb 2026'
          },
          {
            link: '/csr-details.html',
            image: {
              src: 'assets/img/dummy/csr-conten2.png',
              alt: 'CSR Card 2'
            },
            title: 'Enviromental Stewardship & Climate Action',
            date: '15 Feb 2026'
          },
          {
            link: '/csr-details.html',
            image: {
              src: 'assets/img/dummy/csr-conten3.png',
              alt: 'CSR Card 3'
            },
            title: 'Protecting Ecosystems, Preserving Resources',
            date: '15 Feb 2026'
          }
        ]
      },
      {
        icon: {
          src: 'assets/img/icon/hand-heart.svg',
          alt: 'Community Icon'
        },
        title: 'Social',
        desc: 'Creating opportunities for local communities',
        btn: {
          text: 'View More',
          to: '/csr-category.html'
        },
        cards: [
          {
            link: '/csr-details.html',
            image: {
              src: 'assets/img/dummy/csr-conten4.png',
              alt: 'CSR Card 1'
            },
            title: 'Empowering Communities, Enriching Lives',
            date: '15 Feb 2026'
          },
          {
            link: '/csr-details.html',
            image: {
              src: 'assets/img/dummy/csr-conten5.png',
              alt: 'CSR Card 2'
            },
            title: 'Building Stronger Communities Together',
            date: '15 Feb 2026'
          },
          {
            link: '/csr-details.html',
            image: {
              src: 'assets/img/dummy/csr-conten6.png',
              alt: 'CSR Card 3'
            },
            title: 'Education, Health & Local Development',
            date: '15 Feb 2026'
          }
        ]
      },
      {
        icon: {
          src: 'assets/img/icon/scales.svg',
          alt: 'Governance Icon'
        },
        title: 'Governance',
        desc: 'Ensuring integrity through accountable leadership',
        btn: {
          text: 'View More',
          to: '/csr-category.html'
        },
        cards: [
          {
            link: '/csr-details.html',
            image: {
              src: 'assets/img/dummy/csr-conten7.png',
              alt: 'CSR Card 1'
            },
            title: 'Integrity at the Core of Our Business',
            date: '15 Feb 2026'
          },
          {
            link: '/csr-details.html',
            image: {
              src: 'assets/img/dummy/csr-conten8.png',
              alt: 'CSR Card 2'
            },
            title: 'Transparent Leadership & Accountability',
            date: '15 Feb 2026'
          },
          {
            link: '/csr-details.html',
            image: {
              src: 'assets/img/dummy/csr-conten9.png',
              alt: 'CSR Card 3'
            },
            title: 'Ethical Governance for Sustainable Growth',
            date: '15 Feb 2026'
          }
        ]
      },
    ]
  };

include ../../components/Csr/CsrContent/html.pug
