//-------------------------------------------------------------------------------
  @name: Page Banner CSR
  -------------------------------------------------------------------------------//

-
  data = {
    banner: {
      subtitle: 'CSR',
      title: 'Sustainability in Action',
      description: "Empowering communities and preserving ecosystems through responsible operational excellence.",
      imageDesktop: "assets/img/dummy/page-banner-csr-desktop.png",
      imageMobile: "assets/img/dummy/page-banner-csr-mobile.png",
      modifier: 'small'
    }
  };

include ../../components/PageBanner/html.pug
