//-------------------------------------------------------------------------------
 @name: Section Header
//-------------------------------------------------------------------------------

.section-header
  .section-header__text
    h6.section-header__subtitle
      | !{data.subtitle}
    h2.section-header__title
      | !{data.title}
  ='\n'
  a.btn.btn--primary.btn--icon(href=data.btn.to)
    ='\n'
    span.btn__text
      | !{data.btn.text}
      ='\n'
      i.sr.sr-caret-right
