//-------------------------------------------------------------------------------
  @name: Sejati Number
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Operational Excellence',
    desc: 'We leverage cutting-edge technology to deliver consistent results in challenging offshore environments. Our core operational strengths include',
    list: [
      {
        number: '50',
        type: 'MMBO',
        detail: 'Oil Resources'
      },
      {
        number: '450',
        type: 'BCF',
        detail: 'Gas Resources'
      },
      {
        number: '1,753',
        type: 'km2',
        detail: 'Concession Area'
      }
    ]
  };

include ../../../components/Businesses/SejatiNumber/html.pug
