//-------------------------------------------------------------------------------
  @name: Sejati Banner
  -------------------------------------------------------------------------------//

-
  data = [{
      image: 'assets/img/dummy/businesses-banner-sejati.jpg',
      label: 'Sele Raya Sejati',
      title: 'A Three-Decade Legacy of Energy Excellence',
      description: 'A 30 year strategic collaboration between PT Sele Raya Sejati, Medco Energi, and Kufpec to unlock 50 MMBO and 450 BCF of energy potential in South Sumatra.',
    }];

include ../../../components/HeroBanner/html.pug
