//-------------------------------------------------------------------------------
  @name: Sejati Overview
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'project',
    title: 'Project Milestones & Tenure',
    desc: '<p>The project operates under a clear and structured Production Sharing Contract (PSC), providing a stable long-term environment for investment and operations.</p>',
    img: 'assets/img/dummy/sejati-description-2.jpg',
    list: [
      {
        img: 'assets/img/dummy/file-text-primary.svg',
        label: 'Contract Duration',
        desc: '<p>The PSC was officially signed on October 14, 2024, and remains valid for 30 years, spanning from 2024 until 2054.</p>',
      },
      {
        img: 'assets/img/dummy/certificate-primary.svg',
        label: 'Contract Type',
        desc: '<p>Cost Recovery PSC.</p>',
      },
      {
        img: 'assets/img/dummy/folder-star-primary.svg',
        label: 'First 3 Years Commitment',
        desc: '<ul><li>Comprehensive G&G (Geological and Geophysical) studies</li><li>50km2 of 3D Seismic surveys to precisely map and optimize drilling targets</li></ul>',
      },
    ],
  };

include ../../../components/Businesses/BusinessesOverview/html.pug
