//-------------------------------------------------------------------------------
  @name: Sejati Key
  -------------------------------------------------------------------------------//

-
  data = {
      title: 'Key Strategic Highlights',
      list: [
        {
          img: 'assets/img/dummy/info-primary.svg',
          title: 'Status',
          desc: 'Exploration Working Area',
        },
        {
          img: 'assets/img/dummy/map-pin-primary.svg',
          title: 'Location',
          desc: 'Onshore South Sumatra, Indonesia',
        },
        {
          img: 'assets/img/dummy/handshake-primary.svg',
          title: 'Partnership',
          desc: 'Medco Energi Amanah, Sele Raya Sejati, and Kufpec Indonesia',
        },
        {
          img: 'assets/img/dummy/factory-primary.svg',
          title: 'Infrastructure',
          desc: 'Located in a proven hydrocarbon province with existing logistical access',
        }
      ],
    };

include ../../../components/Businesses/BusinessesKey/html.pug
