//-------------------------------------------------------------------------------
  @name: Sejati Overview
  -------------------------------------------------------------------------------//

-
  data = {
    label: 'OVERVIEW',
    title: 'Strategic Growth Opportunity Amanah Block',
    desc: '<p>The Amanah Block represents a significant expansion of PT Sele Raya Sejati’s portfolio in the energy-rich region of South Sumatra. Through a strategic collaboration with PT Medco Energi Amanah and Kufpec Indonesia (Amanah) B.V., this project is positioned to be a key driver of regional energy production.</p><p>The partnership combines technical expertise and local operational excellence to unlock the full potential of this high-prospect onshore asset.</p>',
    img: 'assets/img/dummy/sejati-description-1.jpg',
  };

include ../../../components/Businesses/BusinessesOverview/html.pug
