//-------------------------------------------------------------------------------
  @name: Awards Banner
  -------------------------------------------------------------------------------//

-
  data = {
    subtitle: 'EXCELLENCE RECOGNIZED',
    title: 'A Half Century of Operational Integrity and Sustainable Impact.',
    desc: 'For over 50 years, awards have been the natural result of our commitment. We prioritize safety, sustainability, and community welfare, earning the trust of government and global partners alike.',
    image: {
      src: 'assets/img/dummy/awards-banner.png',
      alt: 'Awards Banner'
    }
  };

include ../../components/Awards/AwardsBanner/html.pug
