//-------------------------------------------------------------------------------
  @name: Milestones Page
  -------------------------------------------------------------------------------//

-
  data = {
    milestones: [
      {
        year: '1972',
        title: 'Company Establishment',
        desc: '<p>We began as an oilfield services company, supporting the oil and gas industry through a range of products and services.</p>',
        image: 'assets/img/dummy/milestones1.png'
      },
      {
        year: '1984',
        title: 'First Field Operation',
        desc: '<p>We successfully operated the Sembakung Field, North Kalimantan, onshore and produced 3,500 barrels of crude oil per day.</p>',
        image: 'assets/img/dummy/milestones2.png'
      },
      {
        year: '1994',
        title: 'Meruap Block Operation',
        desc: '<p>We successfully operated the Meruap Block, South Sumatra, onshore and produced 3,800 barrels of crude oil per day.</p><p>The operation was conducted under a Technical Assistance Contract (TAC) from 1994 to 2008.</p>',
        image: 'assets/img/dummy/milestones3.png'
      },
      {
        year: '2003',
        title: 'PSC & Merangin II Block',
        desc: '<p>We signed a Production Sharing Contract (PSC) and were officially appointed as the operator of the Merangin II Block, Musi Rawas Utara, South Sumatera.</p>',
        
      },
      {
        year: '2004',
        title: 'Belida PSC Appointment',
        desc: '<p>We signed another PSC and were officially appointed as the operator of the Belida Block, Muara Enim, South Sumatera.</p>',
        
      },
      {
        year: '2007',
        title: 'Tampi Oil Discovery',
        desc: '<p>We successfully made an oil discovery at the Tampi Field of the Merangin II Block.</p>',
        
      },
      {
        year: '2008',
        title: 'Sungai Anggur Discovery & Mining Expansion',
        desc: '<p>We made another successful oil discovery at the Sungai Anggur Field of the Belida Block.</p><p>We also started our coal mining operation through our subsidiary, Solo Raya Mining.</p>',
        
      },
      {
        year: '2009',
        title: 'Blora PSC & Industry Recognition',
        desc: '<p>We proudly signed another PSC and were officially appointed as the operator of the Blora Block.</p><p>In the same year, we were awarded The Best PSC Exploration Commitment and recognized as one of the PSCs that fulfilled the Work Program and Budget on time.</p>',
      },
      {
        year: '2010',
        title: 'First Oil Production (Tampi Field)',
        desc: '<p>We successfully completed our first oil production at the Tampi Field of the Merangin II Block, performed through an Early Processing Facility (EPF).</p><p>We managed to produce around 1,500–2,400 barrels of crude oil per day in the period of 2010–2018.</p>',
      },
      {
        year: '2012',
        title: 'Cantik Gas Discovery',
        desc: '<p>We discovered natural gas at the Cantik Field of the Belida Block.</p>',
      },
      {
        year: '2013',
        title: 'Exploration Commitment Awards',
        desc: '<p>We were proudly acknowledged as one of the PSCs that fulfilled the Exploration Commitment and Hydrocarbon Discovery (Gold Category) for the Belida Block and one of the PSCs that fulfilled the Exploration Commitment (Blue Category) for the Blora Block.</p>',
      },
      {
        year: '2018',
        title: 'First Oil Production (Sungai Anggur)',
        desc: '<p>We successfully completed our first oil production at the Sungai Anggur Field of the Belida Block, performed through an Early Processing Facility (EPF).</p>',
      },
      {
        year: '2020',
        title: 'First Gas Production & Rembang Discovery',
        desc: '<p>We completed our first gas production at the Cantik Field of the Belida Block, performed through an EPF.</p><p>We also successfully discovered natural gas at the Rembang Field in the same year.</p>',
      },
      {
        year: '2022',
        title: 'Sungai Anggur Selatan-1 Discovery',
        desc: '<p>Sungai Anggur Selatan-1 well oil and gas discovery. It was noted that it succeeded in obtaining test results of 5,451 Barrels Oil per Day (BPOD), 434 Barrels Condensate per Day (BCPD) and 17,986 MMSCFD from the 4 tests that had been carried out.</p>',
      },
      {
        year: '2025',
        title: 'Sungai Anggur Selatan-2 Test Results',
        desc: '<p>Sungai Anggur Selatan-2 well oil and gas discovery.It was noted that it succeeded in obtaining test results of 3,856 Barrels Oil per Day (BPOD) and 3,257 MMSCFD.</p>',
      },
    ]
  };

include ../../components/Milestones/MilestonesContent/html.pug
