//-------------------------------------------------------------------------------
  @name: Page Banner CSR
  -------------------------------------------------------------------------------//

-
  data = {
    image: 'corporate-img.png',
    memberLabel: 'Expert Team Members',
    members: [
      { img: 'member-1.png', alt: 'member 1' },
      { img: 'member-2.png', alt: 'member 2' },
      { img: 'member-3.png', alt: 'member 3' },
    ],
    memberCount: '+1.500',
    subtitle: 'OUR VALUE',
    title: `How We're Guided`,
    desc: 'Dedicated to honesty, new ideas, and teamwork.',
    list: [
      {
        icon: {
          src: 'assets/img/icon/handshake.svg',
          alt: 'Integrity Icon'
        },
        title: 'Honesty',
        desc: 'Creating intuitive, engaging, and effective user experiences.'
      },
      {
        icon: {
          src: 'assets/img/icon/lightbulb.svg',
          alt: 'Creativity Icon'
        },
        title: 'Creativity',
        desc: 'Building robust, scalable, and tailored web solutions.'
      },
      {
        icon: {
          src: 'assets/img/icon/start.svg',
          alt: 'Quality Icon'
        },
        title: 'Quality',
        desc: 'We strive to deliver excellence in everything we do.'
      },
      {
        icon: {
          src: 'assets/img/icon/puzzle-piece.svg',
          alt: 'Teamwork Icon'
        },
        title: 'Teamwork',
        desc: 'We collaborate closely & deliver outstanding results together.'
      },
    ]

  }

include ../../components/Career/CareerCorporate/html.pug
