//-------------------------------------------------------------------------------
  @name: Page Banner CSR
  -------------------------------------------------------------------------------//

-
  data = {
    subtitle: "JOIN OUR LEGACY",
    title: "Empower Your Career.</br> Shape Indonesia’s Future.",
    cols: [
      {
        items: [
          {
            type: 'image',
            src: 'career-1.png',
            alt: 'career image 1'
          }
        ]
      },
      {
        items: [
          {
            type: 'image',
            src: 'career-2.png',
            alt: 'career image 2'
          },
          {
            type: 'image',
            src: 'career-3.png'
          }
        ]
      },
      {
        items: [
          {
            type: 'image',
            src: 'career-4.png'
          },
          {
            type: 'image',
            src: 'career-5.png'
          },
          {
            type: 'image',
            src: 'career-6.png'
          }
        ]
      },
      {
        items: [
          {
            type: 'image',
            src: 'career-7.png'
          },
          {
            type: 'image',
            src: 'career-8.png'
          }
        ]
      }
    ]
  }

include ../../components/Career/CareerBanner/html.pug
